{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style type="text/css">
    .modal .modal-body {
    overflow-y: auto;
    overflow-x: auto;
}
</style>
<div class="modal">
    <div id="print_out"></div>
</div>
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none;">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h1 class="page-header">Data SO</h1> -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->    
    <form role="form" method="post" id="myForm">
    <div class="row">
        <div class="col-lg-6" style="padding: 10px;">
            <button type="button" id="reload" class="btn btn-default" onclick="reloadTable()"><i class="fa fa-refresh"></i> Reload</button>
            <!--<button class="btn btn-primary" onclick="updateData()"><i class="fa fa-refresh"></i> Update</button>-->
        </div>
        <!--<div class="form-inline col-lg-6" align="right" style="padding: 10px;">
            <label>Filter : </label>
            <select id="filter" name="filter" class="form-control input-sm" style="width: 100px;" onchange="load_datatable()">
                <option value="">All</option>
                <option value="Usulan" selected>Usulan</option>
                <option value="Closed">Closed</option>
                <option value="Reject">Reject</option>
            </select>
        </div> -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                        <div class="panel-heading">
                            Datatable List Order Limit Approval
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th style="min-width:120px;">Proses</th>
                                        <th>List Approval</th>
                                        <th>NoUsulan</th>
                                        <th>Jenis</th>
                                        <th>Tanggal</th>
                                        <th>KodePelanggan</th>
                                        <th>NamaPelanggan</th>
                                        <th>PerbaikanLimit</th>
                                        <th>PerbaikanTop</th>
                                        <th>TOP Piutang</th>
                                        <th>Riwayat Pelanggan</th>
                                        <th>Status</th>
                                        <th>Kirim Pusat</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    </form>
</div>
<!-- /#page-wrapper -->

<!-- Bootstrap modal -->
<!--
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Detail Data SO</h3>
            </div>
            <div class="modal-body form" style="overflow-x: auto;overflow-y: auto">
                <h3>Data Header</h3> 
                <table width="100%" class="table2 table-striped table-bordered table-hover" id="headerDataSO">
                    <thead style="line-height: 2">
                        <tr>
                            <th style="min-width:100px">Cabang</th>
                            <th style="min-width:100px">No SO</th>
                            <th style="min-width:100px">Time SO</th>
                            <th style="min-width:100px">Pelanggan</th>
                            <th style="min-width:100px">Nama Pelanggan</th>
                            <th style="min-width:100px">Alamat Pelanggan</th>
                            <th style="min-width:100px">Tipe Pelanggan</th>
                            <th style="min-width:100px">NPWP Pelanggan</th>
                            <th style="min-width:100px">Kategori Pelanggan</th>
                            <th style="min-width:100px">Acu</th>
                            <th style="min-width:100px">Cara Bayar</th>
                            <th style="min-width:100px">Cash Diskon</th>
                            <th style="min-width:100px">Value Cash Diskon</th>
                            <th style="min-width:100px">TOP</th>
                            <th style="min-width:100px">Tgl JTO Order</th>
                            <th style="min-width:100px">Nama Salesman</th>
                            <th style="min-width:100px">Rayon</th>
                            <th style="min-width:100px">Status</th>
                            <th style="min-width:100px">Tipe Dokumen</th>
                            <th style="min-width:100px">No DO</th>
                            <th style="min-width:100px">No Faktur</th>
                            <th style="min-width:100px">Disc Cab Max</th>
                            <th style="min-width:100px">Disc Prins Max</th>
                            <th style="min-width:100px">COGS</th>
                            <th style="min-width:100px">Total COGS</th>
                        </tr>
                    </thead>
                </table><br>

                <h3>Data Detail</h3>
                <table width="100%" class="table2 table-striped table-bordered table-hover" id="detailDataSO">
                    <thead style="line-height: 2">
                        <tr>
                            <th style="min-width:50px">No</th>
                            <th style="min-width:100px">Kode Produk</th>
                            <th style="min-width:100px">Nama Produk</th>
                            <th style="min-width:100px">Harga</th>
                            <th style="min-width:100px">Qty SO</th>
                            <th style="min-width:100px">Bonus</th>
                            <th style="min-width:100px">Value Bonus</th>
                            <th style="min-width:100px">Disc Cabang</th>
                            <th style="min-width:100px">Value Disc Cabang</th>
                            <th style="min-width:100px">Disc Cabang Total</th>
                            <th style="min-width:100px">Value Disc Cabang Total</th>
                            <th style="min-width:100px">Disc Prins 1</th>
                            <th style="min-width:100px">Value Disc Prins 1</th>
                            <th style="min-width:100px">Disc Prins 2</th>
                            <th style="min-width:100px">Value Disc Prins 2</th>
                            <th style="min-width:100px">Disc Prins Total</th>
                            <th style="min-width:100px">Value Disc Prins Total</th>
                            <th style="min-width:100px">Disc Total</th>
                            <th style="min-width:100px">Value Disc Total</th>
                            <th style="min-width:100px">Gross</th>
                            <th style="min-width:100px">Potongan</th>
                            <th style="min-width:100px">Value</th>
                            <th style="min-width:100px">PPN</th>
                            <th style="min-width:100px">Lain Lain</th>
                            <th style="min-width:100px">Total</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_approval_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form" style="overflow-x: auto;overflow-y: auto">
                <h3>Data Approval</h3> 
                <table width="100%" class="table2 table-striped table-bordered table-hover" id="ApprovalSO">
                    <thead style="line-height: 2">
                        <tr>
                            <th rowspan='2' style="min-width:100px;text-align:center">Cabang</th>
                            <th rowspan='2' style="min-width:100px;text-align:center">No SO</th>
                            <th colspan='3' style="min-width:100px;text-align:center">Approve LImit</th>
                            <th colspan='3' style="min-width:100px;text-align:center">Approve TOP</th>
                            <th colspan='2' style="min-width:100px;text-align:center">Approve Disc Cab</th>
                            <th colspan='2' style="min-width:100px;text-align:center">Approve Disc Prins</th>
                        </tr>
                        <tr>
                            <th style="min-width:100px">KSA</th>
                            <th style="min-width:100px">BM</th>
                            <th style="min-width:100px">RBM</th>
                            <th style="min-width:100px">KSA</th>
                            <th style="min-width:100px">BM</th>
                            <th style="min-width:100px">RBM</th>
                            <th style="min-width:100px">BM</th>
                            <th style="min-width:100px">RBM</th>
                            <th style="min-width:100px">BM</th>
                            <th style="min-width:100px">Prinsipal</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>-->
<div class="modal fade" id="modal_top_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form" style="overflow-x: auto;overflow-y: auto">
                <h4>Data TOP Piutang</h4> 
                <table width="100%" class="table2 table-striped table-bordered table-hover" id="toppiutang">
                    <thead style="line-height: 2">
                         <tr>
                            <th style="min-width:100px;text-align:center">Limit Kredit</th>
                            <th style="min-width:100px;text-align:center">Saldo Piutang</th>
                            <th style="min-width:100px;text-align:center">TOP</th>
                            <th style="min-width:100px;text-align:center">Umur Piutang</th>
                        </tr>
                    </thead>
                </table>
                <table width="100%" class="table2 table-striped table-bordered table-hover" id="detailpiutang">
                   <thead style="line-height: 2">
                            <tr>
                                <th>No Faktur</th>
                                <th>Tgl Faktur</th>
                                <th>Tipe Dok</th>
                                <th>Pelanggan</th>
                                <th>Salesman</th>
                                <th>Cara Bayar</th>
                                <th>Umur faktur</th>
                                <th>Total</th>
                                <th>Saldo</th>
                                <th>Pelunasan</th>
                                <th>No giro</th>
                                <th>Tgl Giro</th>
                                <th>tglJTO</th>
                                <th>Bayar giro</th>
                            </tr>                    
                        </thead>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_alasan_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form" style="overflow-x: auto;overflow-y: auto">
                <h4>Data Riwayat Pelanggan</h4> 
                <form id="myForm">
                <div class="panel-body">
                    <div style="color: red; font-weight: bold">{{ message }}</div>
                    <div class="form-group">
                                    <div class="form-group-sm">
                                        <label class="control-label">Data Pelanggan</label>
                                        <textarea class="form-control" rows="5" name="datapelanggan" id="datapelanggan" ></textarea>
                                    </div>
                                    <br>
                                    <div class="form-group-sm">
                                        <label class="control-label">Riwayat Bayar</label>
                                        <textarea class="form-control" rows="10" name="datariwayat" id="datariwayat"></textarea>
                                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    var tabel;
    $(document).ready(function() {

        load_datatable();

        $('#dataTables-example').on('processing.dt', function (e, settings, processing) {
            if (processing) {
                $('#progressGIF').show();
            } else {
                $('#progressGIF').hide();
            }
        });

    }); 

    function load_datatable(){
        if ( $.fn.dataTable.isDataTable( '#dataTables-example' ) ) {
            tabel.destroy();
        }
        tabel = $('#dataTables-example').DataTable({

            "ordering": false,
            "processing": true,
            "serverSide": true,
            "deferRender": true,
            "ajax": {
                "url": "{{ base_url }}limittop_getdata",
                "type": "POST",
                data:{
                    filter:$('#filter').val()
                }
            },
            responsive: false,
            "scrollX": true,
            
            dom: 'Bfrtip',
            buttons: [
            ],
            "pageLength": 100,
            "language": {
                    "emptyTable":     "Tidak ada data.."
                }
            });
    }

    function reloadTable()
    {
        tabel.ajax.reload(null,false);
    }

    
    function approve(id,user)
    {
        $("#notif").empty();
        var url = "{{ base_url }}limittop_approve"; 
        $('#progressGIF').show();
        $.ajax({
            url : url,
            type: "POST",
            data:{id:id,user:user},
            dataType: "JSON",
            success: function(data)
            {
                if (!data) {
                    // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                }
                // else if (data.ket == 'CEK') {
                //     notif('warning', 'PERHATIAN! Periksa kembali, masih ada data usulan belum di proses ke pusat');   
                // }
                else{
                    notif('success', 'SUKSES! Data berhasil diupdate dari server pusat');
                }
                reloadTable();
                $('#progressGIF').hide();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat' +errorThrown);
                $('#progressGIF').hide();
            }
        }); 
    }

    function reject(id,user)
    {
        $("#notif").empty();
        var url = "{{ base_url }}limittop_reject"; 
        $('#progressGIF').show();
        $.ajax({
            url : url,
            type: "POST",
            data:{id:id,user:user},
            dataType: "JSON",
            success: function(data)
            {
                if (!data) {
                    // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                }
                // else if (data.ket == 'CEK') {
                //     notif('warning', 'PERHATIAN! Periksa kembali, masih ada data usulan belum di proses ke pusat');   
                // }
                else{
                    notif('success', 'SUKSES! Data berhasil diupdate dari server pusat');
                }
                reloadTable();
                $('#progressGIF').hide();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat' +errorThrown);
                $('#progressGIF').hide();
            }
        }); 
    }


    function kirimulang(id)
    {
        $("#notif").empty();
        $('#progressGIF').show();
        var url = "{{ base_url }}limittop_kirimulang"; 
        $.ajax({
            url : url,
            type: "POST",
            data:{id:id},
            dataType: "JSON",
            success: function(data)
            {
                if (!data) {
                    // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                }
                // else if (data.ket == 'CEK') {
                //     notif('warning', 'PERHATIAN! Periksa kembali, masih ada data usulan belum di proses ke pusat');   
                // }
                else{
                    notif('success', 'SUKSES! Data berhasil diupdate dari server pusat');
                }
                reloadTable();
                $('#progressGIF').hide();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat' +errorThrown);
                $('#progressGIF').hide();
            }
        }); 
    }


    function toppiutang(pelanggan){
        $('#modal_top_form').modal('show'); // show bootstrap modal when complete loaded
        var xx = 0;
        $('.itemRowHeader').remove();
        $('.itemRowDetail').remove();
        $.ajax({
            url : "{{ base_url }}viewpiutangpelanggan",
            type: "POST",
            data:{pelanggan:pelanggan},
            dataType: "JSON",
            success: function(data)
            {   
                var detail = data.detail;
                var x = 1;
                var nf = new Intl.NumberFormat();
                     $('#toppiutang').append('<tr class="itemRowHeader"><td style="min-width:100px;text-align:center">'+numberWithCommas(data.header[0].limit_kredit)+'</td><td style="min-width:100px;text-align:center">'+numberWithCommas(data.header[0].saldo)+'</td><td style="min-width:100px;text-align:center">'+numberWithCommas(data.header[0].top)+'</td><td style="min-width:100px;text-align:center">'+numberWithCommas(data.header[0].Umur_faktur)+'</td></tr>');
                if(xx == 0){
                    for (var i in detail) {
                        $('#detailpiutang').append($('<tr class="itemRowDetail"><td>'+detail[i].NoFaktur+'</td><td>'+detail[i].TglFaktur+'</td><td>'+detail[i].TipeDokumen+'</td><td>'+detail[i].Pelanggan+'</td><td>'+detail[i].Salesman+'</td><td>'+detail[i].CaraBayar+'</td><td>'+detail[i].Umur_faktur+'</td><td align="right">'+numberWithCommas(detail[i].Total)+'</td><td align="right">'+numberWithCommas(detail[i].Saldo)+'</td><td align="right">'+numberWithCommas(detail[i].pelunasan)+'</td><td>'+detail[i].Nogiro+'</td><td>'+detail[i].TglGiro+'</td><td>'+detail[i].tglJTO+'</td><td align="right">'+numberWithCommas(detail[i].bayargiro)+'</td></tr>'));
                            i++;
                    }
                }
                if(detail != ""){
                    xx = 1;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert('Error get data from ajax');
            }
        });
    }

    function datapelanggan(usulan){
        $('#modal_alasan_form').modal('show'); // show bootstrap modal when complete loaded
        var xx = 0;
        $('.itemRowHeader').remove();
        $.ajax({
            url : "{{ base_url }}limittop_riwayatpelanggan",
            type: "POST",
            data:{usulan:usulan},
            dataType: "JSON",
            success: function(data)
            {   
                $('#datapelanggan').val(data.DataPelanggan);
                $('#datariwayat').val(data.RiwayatBayar);
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert('Error get data from ajax');
            }
        });
    }
</script>
    {% endblock %}

