<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand saptaColor" href="#">PT. SAPTA SARITAMA - {{ logs.username }} </a> -->
        <a class="navbar-brand saptaColor" href="#">ERP SST - PT. SAPTA SARITAMA</a>    
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% include "top_bar.html" %} {% include "side_bar.html" %}
            <br><br><br>
    </div>
</nav>