<!-- {% if logs.userGroup == 'Cabang' %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ base_url }}main"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Pembelian<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ base_url }}usulanbeli">Buat Usulan Beli</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}buatbpb">Buat BPB</a>
                    </li>   
                    <li>
                        <a href="{{ base_url }}datausulanbeli">Data Usulan Beli</a>
                    </li>                    
                    <li>
                        <a href="{{ base_url }}dataprpo">Data PR/PO</a>
                    </li>                   
                    <li>
                        <a href="{{ base_url }}databpb">Data BPB</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ base_url }}auth/logout"><i class="fa fa-power-off fa-fw"></i>Logout</a>
            </li>
    </div>
</div>
{% elseif logs.userGroup == 'Apotik' %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ base_url }}main"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Pembelian<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ base_url }}approval">Approval</a>
                    </li>
                    <li>
                        <a href="{{ base_url }}buatbpb">Buat BPB</a>
                    </li>   
                </ul>
            </li>
            <li>
                <a href="{{ base_url }}auth/logout"><i class="fa fa-power-off fa-fw"></i>Logout</a>
            </li>
    </div>
</div>
{% elseif logs.userGroup == 'BM' %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ base_url }}main"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-gear fa-fw"></i> Pembelian<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ base_url }}approval">Approval</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ base_url }}auth/logout"><i class="fa fa-power-off fa-fw"></i>Logout</a>
            </li>
    </div>
</div>
{% endif %} -->