{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style type="text/css">
    .modal .modal-body {
    overflow-y: auto;
    overflow-x: auto;
}
.my_style {
    font-weight:bold;
    color:#B51454;
}
.kanan{
    text-align: right;
}
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Karyawan</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 10px">
            <button class="btn btn-success" onclick="addData()"><i class="fa fa-plus"></i> Add Data</button>
        <button class="btn btn-default" onclick="reloadTable()"><i class="fa fa-refresh"></i> Reload</button>
        <button class="btn btn-info" onclick="upload_all()" title="Upload Ke Pusat"><i class="fa fa-upload"></i> Proses All</button>
        <br><br>
        <!-- <table width="50%">
            <tr>
                <td>Periode</td>
                <td>:</td>
                <td>
                    <select id="tahun"  class="form-control" >
                        <option value="{{tahun1}}">{{tahun1}}</option>
                        {% for getTahun in getTahun %}
                            <option value="{{getTahun.tahun}}">{{getTahun.tahun}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select id="bulan"  class=" form-control" >
                        <option value="{{bulan1}}">{{bulan}}</option>
                        <option value="01">Januari</option>
                        <option value="02">Februari</option>
                        <option value="03">Maret</option>
                        <option value="04">April</option>
                        <option value="05">Mei</option>
                        <option value="06">Juni</option>
                        <option value="07">Juli</option>
                        <option value="08">Agustus</option>
                        <option value="09">September</option>
                        <option value="10">Oktober</option>
                        <option value="11">November</option>
                        <option value="12">Desember</option>
                    </select>
                </td>
                <td><button class="btn btn-primary" onclick="load_data()">Tampilkan data</button></td>
                <td><button class="btn btn-success" onclick="upload_all()"><i class="fa fa-refresh"></i> Proses All</button></td>
            </tr>
        </table> -->
        </div>
        
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                        <div class="panel-heading">
                            Datatable Karyawan
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Cabang</th>
                                        <th>Kode</th>
                                        <th>Nama</th>
                                        <th>Jabatan</th>
                                        <th>Tipe Salesman</th>
                                        <th>Rayon Salesman</th>
                                        <th>Supervisor</th>
                                        <th>Status</th>
                                        <th>Menagih</th>
                                        <th>Mengirim</th>
                                        <th>Jenis</th>
                                        <th>Jabatan</th>
                                        <th>MCL</th>
                                        <th>Email</th>
                                        <th>Edit</th>
                                        <th>Status Pusat</th>
                                    </tr>
                                </thead>
                            <!--  <tfoot >
                               <tr>
                                   <th colspan="8" align="right">Total</th>
                                   <th  class="kanan my_style" id="total-target"></th>
                                   <th></th>
                                   <th></th>
                                   <th></th>
                            
                               </tr>
                               
                                                        </tfoot> -->
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- Bootstrap modal -->
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body form">
                            <form role="form" method="post" id="myForm">
                                <table width="100%" >
                                    <tr>
                                        <td width="10%">Cabang</td>
                                        <td width="2%">:</td>
                                        <td>
                                             <input type="hidden" value="" name="id" id="id"/> 
                                            <input class="form-control" name="Cabang" id="Cabang" value="{{Cabang}}" readonly="true" style="margin-top:5px;margin-bottom:5px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Kode</td>
                                        <td width="2%">:</td>
                                        <td><input class="form-control" required name="Kode" id="Kode" style="margin-top:5px;margin-bottom:5px"></td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Nama</td>
                                        <td width="2%">:</td>
                                        <td><input class="form-control" required name="Nama" id="Nama" style="margin-top:5px;margin-bottom:5px"></td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Jabatan</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Jabatan" id="Jabatan" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Salesman">Salesman</option>
                                                <option value="Pengirim Mobil">Pengirim Mobil</option>
                                                <option value="Pengirim Motor">Pengirim Motor</option>
                                                <option value="Kolektor">Kolektor</option>
                                                <option value="Pengirim Eksternal">Pengirim Eksternal</option>
                                                <option value="Supervisor">Supervisor</option>
                                                <option value="DM">DM</option>
                                                <option value="Gudang">Gudang</option>
                                                <option value="Inkaso">Inkaso</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Tipe Salesman</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Tipe_Salesman" id="Tipe_Salesman" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Non Reg">Non Reg</option>
                                                <option value="Mix">Mix</option>
                                                <option value="OTC">OTC</option>
                                                <option value="Alkes">Alkes</option>
                                                <option value="Institusi">Institusi</option>
                                                <option value="Apotik">Apotik</option>
                                                <option value="RS">RS</option>
                                                <option value="User">User</option>
                                                <option value="Ekat">Ekat</option>
                                            </select>    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Rayon Salesman</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select  id="Rayon_Salesman" required name="Rayon_Salesman" class=" form-control" data-live-search="true" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                {% for Rayon in Rayon %}
                                                    <option  value="{{Rayon.Kode}}">{{Rayon.Kode}}</option>
                                                {% endfor %}
                                            </select> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Supervisor</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <input class="form-control" type="text" required name="Supervisor" id="Supervisor" style="margin-top:5px;margin-bottom:5px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Status</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Status" id="Status" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Aktif">Aktif</option>
                                                <option value="Non Aktif">Non Aktif</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Menagih</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Menagih" id="Menagih" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Ya">Ya</option>
                                                <option value="Tidak">Tidak</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Mengirim</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Mengirim" id="Mengirim" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Ya">Ya</option>
                                                <option value="Tidak">Tidak</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Jenis</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <select required name="Jenis" id="Jenis" class="form-control" style="margin-top:5px;margin-bottom:5px">
                                                <option value="">Pilih</option>
                                                <option value="Office">Office</option>
                                                <option value="None">None</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">MCL</td>
                                        <td width="2%">:</td>
                                        <td>
                                            <input class="form-control" type="text" required name="Mcl" id="Mcl" onkeypress="return isNumberKey(event)" style="margin-top:5px;margin-bottom:5px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="10%">Email</td>
                                        <td width="2%">:</td>
                                        <td>
                                           <input class="form-control" type="text" required name="Email" id="Email"  style="margin-top:5px;margin-bottom:5px">
                                        </td>
                                    </tr>
                                </table>
                                
                            </form>

            </div>
            <div class="modal-footer">
                <div id="box-btn">
                    <button type="button" id="btnSave" onclick="saveData()" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    
                </div>
                <div id="box-notif" style="display: none">
                    <div class="alert alert-info">
                      <strong>Data Hanya bisa di edit saat di Bulan Berjalan</strong> 
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Bootstrap modal -->

{% endblock %}

{% block js %}
<script>
    var saveMethod;
    var tabel;
    $(document).ready(function() {

      load_data();

    });

    function load_data(){
        /*bulan = $('#bulan').val();
        tahun = $('#tahun').val();*/

         if ($.fn.dataTable.isDataTable('#dataTables-example')) {
            tabel.destroy();
            $('#dataTables-example tbody').empty();
        }

        tabel = $('#dataTables-example').DataTable({

            "processing": true, //Feature control the processing indicator.
            // Load data for the table's content from an Ajax source
            "ajax": {
                "url": "{{ base_url }}listDataKaryawan",
                // "data": ({tahun:tahun,bulan:bulan}),
                "type": "POST"
            },
            responsive: true,
            dom: 'Bfrtip',
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            buttons: [
                'copy', 'csv', 
                {
                    extend:'pdf',
                    exportOptions: {
                        columns: ':visible',
                    },
                    download: 'open',
                    customize: function (doc) {
                        doc.content[1].table.widths = 
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                      }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible',
                    }
                }, 
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible',
                    }
                }, 
                'pageLength', 'colvis'
            ],

            "pageLength": 10,
            "language": {
                    "emptyTable":     "Tidak ada data.."
                },
            "order": [[ 0, "desc" ]]
            });

        $('#myForm')[0].reset(); // reset form on modals
        // $('.selectpicker').selectpicker('val', '');
/*
        $.ajax({
              url: '{{ base_url }}listDataKaryawan_count',
              type: 'POST',
              data: {tahun:tahun,bulan:bulan},
          })
          .done(function(data) {
               json = JSON.parse(data);
               if (json.total != 'null') {

                $('#total-target').html(number_format(json.total));
               }else{
                $('#total-target').html(number_format(0));
               }
          }) */
    }

    function reloadTable()
    {
        tabel.ajax.reload(null,false);
    }

 

    function addData()
    {
        saveMethod = 'add';
        // $('#suppliermask').hide();
        $('.bootstrap-select').show();     
        document.getElementById('id').value = '';   
        $('#modal_form').modal('show'); // show bootstrap modal
        $('.modal-title').text('Form Karyawan'); // Set Title to Bootstrap modal title
        $('#myForm')[0].reset(); // reset form on modals
        $('.selectpicker').selectpicker('val', '');
        $('.help-block').empty(); // clear error string
        $('.form-group').removeClass('has-error'); // clear error class
        // $("#KodeSalesman").prop("disabled",false);
        $("#Tipe_Salesman").prop("disabled",false);
        $("#Mcl").prop("disabled",false);
        $("#Kode").prop("disabled",false);
        $('#box-notif').hide();
        $('#box-btn').show();
        $("#box-email").hide();
    }

    function updateData(id)
    {
        saveMethod = 'update';
        $("#KodeSalesman").prop("disabled",true);
        $('#myForm')[0].reset(); // reset form on modals
        $('.form-group').removeClass('has-error'); // clear error class
        // $('.help-block').empty(); // clear error string
        /*$('#suppliermask').show();
        $('#supplier').hide();*/
        $('.bootstrap-select').hide();

        //Ajax Load data from ajax
        $.ajax({
            url : "{{ base_url }}getDataKaryawan/" + id,
            type: "GET",
            dataType: "JSON",
            success: function(data)
            {
                $('#id').val(data.id);
                $('#Kode').val(data.Kode);
                $("#Kode").prop("disabled",true);
                $('#Nama').val(data.Nama);
                $("#Jabatan").val(data.Jabatan);
                $("#Tipe_Salesman").prop("disabled",true);
                $("#Tipe_Salesman").val(data.Tipe_Salesman);
                $("#Rayon_Salesman").val(data.Rayon_Salesman);
                $("#Supervisor").val(data.Supervisor);
                $("#Status").val(data.Status);
                $("#Menagih").val(data.Menagih);
                $("#Mengirim").val(data.Mengirim);
                $("#Jenis").val(data.Jenis);
                $("#Mcl").prop("disabled",true);
                $("#Mcl").val(data.MCL);
                $("#box-email").show();
                $("#Email").val(data.Email);
                $('#modal_form').modal('show'); // show bootstrap modal when complete loaded
                $('.modal-title').text('Karyawan Form Update'); // Set title to Bootstrap modal title

           

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                alert('Error get data from ajax');
            }
        });
    }

    function deleteData(id){
        if(confirm('Are you sure delete this data?'))
        {
            // ajax delete data to database
            $.ajax({
                url : "{{ base_url }}deleteDataKaryawan/" + id,
                type: "POST",
                dataType: "JSON",
                success: function(data)
                {
                    reloadTable();
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('Error deleting data');
                }
            });

        }
    }

    function upload(id){
       /* if(confirm('Are you sure delete this data?'))
        {*/
            // ajax delete data to database
            $.ajax({
                url : "{{ base_url }}uploadKaryawan/" + id,
                type: "POST",
                dataType: "JSON",
                success: function(data)
                {
                    notif('success', 'Data Berhasil Di Upload');
                    reloadTable();
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('Error data');
                }
            });

        // }
    }

    function upload_all(){
       /* if(confirm('Are you sure delete this data?'))
        {*/
            // ajax delete data to database
            bulan = $('#bulan').val();
            tahun = $('#tahun').val();

            $.ajax({
                url : "{{ base_url }}uploadKaryawan_all/" ,
                type: "POST",
                dataType: "JSON",
                success: function(data)
                {
                    notif('success', 'Data Berhasil Di Upload');
                    reloadTable();
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('Error data');
                }
            });

        // }
    }

    function saveData()
    {
        /*$('#btnSave').text('Saving...'); //change button text
        $('#btnSave').attr('disabled',true); //set button disable */
        var url;

        if(saveMethod == 'add') {
            url = "{{ base_url }}saveDataKaryawan";
        } else {
            url = "{{ base_url }}updateDataKaryawan";
        }

        // ajax adding data to database
        Kode = $("#Kode").val();
        Nama = $("#Nama").val();
        Jabatan = $("#Jabatan").val();
        Tipe_Salesman = $("#Tipe_Salesman").val();
        Rayon_Salesman = $("#Rayon_Salesman").val();
        Supervisor = $("#Supervisor").val();
        Status = $("#Status").val();
        Menagih = $("#Menagih").val();
        Mengirim = $("#Mengirim").val();
        Jenis = $("#Jenis").val();
        Mcl = $("#Mcl").val();


        if (Kode == "" || Nama == "" || Jabatan == "" || Status == ""  || Jenis == "" || Mcl == "" ) {
            notif('warning', 'Harap Lengkapi Form'); return;
        }

        $.ajax({
            url : url,
            type: "POST",
            data: $('#myForm').serialize(),
            dataType: "JSON",
            success: function(data)
            {
                if(data.status) //if success close modal and reload ajax table
                {
                    $('#modal_form').modal('hide');
                    notif('success', 'Berhasil'); return;
                    reloadTable();
                }
                else
                {
                    notif('warning', 'Kode Sudah Terpakai'); return;
                }

                /*$('#btnSave').text('save'); //change button text
                $('#btnSave').attr('disabled',false); //set button enable */
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                
                /*$('#btnSave').text('save'); //change button text
                $('#btnSave').attr('disabled',false); //set button enable */

            }
        });
    }

    function number_format(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

</script>
    {% endblock %}