{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>

    <link href= "{{ base_url }}assets/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.material.min.css" rel="stylesheet">

<style>
    #keterangan {

        width:700px;
    }

    .demo-section {
        width:100%;
    }
    .fieldlist_garis_bawah 
    {
        margin: 0;
        padding:0;

    }

    .fieldlist_garis_bawah li
    {
        list-style:none;
        padding:0;
    }

    .fieldlist_garis_bawah label {
        display: inline-block;
        width: 150px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    #fieldlist
    {
        margin:0;
        padding:0;
    }

    #fieldlist li
    {
        list-style:none;
        padding:0;
    }

    #fieldlist label {
        display: inline-block;
        width: 150px;
        font-size: 11px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 10px
    }
    .form-group{
        margin:1.5px;
    }

    .k-textbox{
        font-size: 11px; 
    }
    .datepicker{
        font-size: 11px; 
    }

    .k-grid td {
        font-size: 11px;
        padding: 3px;
        line-height: 1.5em;
    }
    .k-grid {
        font-size: 12px;
    }
            
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important; white-space: normal !important; 
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 8px
    }

    .k-grid-header .wrap-header {
        height:  5px;
        overflow: visible;
        white-space: normal;
    }

    .k-list-container{
        min-width:400px !important;
        width: auto!important;
    }
    .k-list
    {
         width:auto !important;
    }
    .highlighted-row {
        background-color: #eeffee;
    }
    .highlighted-row.k-alt {
        background-color: #ccffcc;
    }
    table > tbody > tr:hover,

        .table > table > tbody > tr:hover

    {
        background-color: #fce7dd;

    }

    tbody tr:nth-child(odd) {
        background-color: #fff;

    }
    .page-template {
          font-family: "DejaVu Sans", "Arial", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size:10px;
        }
        .page-template .header {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          border-bottom: 1px solid #888;
          color: #888;
        }
        .page-template .footer {
          position: absolute;
          bottom: 30px;
          left: 30px;
          right: 30px;
          border-top: 1px solid #888;
          text-align: center;
          color: #888;
        }
        .page-template .watermark {
          font-weight: bold;
          font-size: 400%;
          text-align: center;
          margin-top: 30%;
          color: #aaaaaa;
          opacity: 0.1;
          transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style> 
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading" style="min-height: 35px">
            <div style="width:50%;float:left;">
                <b>DATA E-FAKTUR</b>
            </div>

        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
            <form role="form" id="myForm">
            <div class="table-responsive"> 
                <table>
                    <tr>
                        <td>Cabang</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px">
                            <input type="hidden" name="counter" value="{{counter}}">
                            {% for cabang in cabang %}
                                {% if cabang.Cabang == logs.cabang %} 
                                    <input class="form-control" type="text" name="Cabang" id="Cabang" readonly value="{{ cabang.Cabang }}-{{ cabang.Kode }}">
                                    <input class="form-control" type="hidden" name="serv_date" id="serv_date" readonly value="{{ cabang.server_date }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="padding-left:10px">Tipe Dokumen</td>
                        <td style="padding-left:10px">:</td> 
                        <td>
                            <select id="tipe" name="tipe" onchange="Nofaktur()">
                                <option value="">Pilih Tipe Dokumen</option>
                                <option value="Faktur">Faktur</option>
                                <option value="Retur">Retur</option>
                            </select>
                        </td>
                        <td style="padding-left:10px">No Faktur / Retur</td>
                        <td style="padding-left:10px">:</td> 
                        <td>
                             <input class="form-control" type="text" name="nofaktur" id="nofaktur" style="width:300px">
                        </td>
                        <td style="padding-left:30px"> <a v-bind:href="javascript:" onclick="f_get_data();return false;" title="Proses" class="btn btn-success" > <i class="fa fa-search-plus"><span style="padding-left:10px;padding-right:20px">Proses</span></i></a> </td>
                         <td style="padding-left:5px"> <a v-bind:href="javascript:" onclick="f_pdf();return false;" title="Print to pdf" class="btn btn-warning" ><i class="fa fa-file-pdf-o"><span style="padding-left:10px;padding-right:20px">Print to PDF</span></i></a> </td>
                    </tr>
                </table>
            </div>
            </div>
            </form>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>
<div id="msgBox"></div>
<div id = 'cetak_list'>
   <div id="grid"  class="k-grid"  data-csrf="{!! csrf_token()!!}"></div>
   <!-- <br>
   <hr width="100%" size="10">
   <div><center><strong>DATA GUDANG</strong></center></div>
   <br>
   <div id="grid_summary"> -->
</div>
{% endblock %}

{% block js %}
    <!-- <script src="{{ base_url }}assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="{{ base_url }}assets/kendo/js/jquery.min.js"> </script> -->
    <script src="{{ base_url }}assets/kendo/js/kendo.all.min.js"> </script> 
    <script src="{{ base_url }}assets/kendo/js/pako_deflate.min.js"> </script> 
    <script src="{{ base_url }}assets/js/jQuery.print.js"> </script>
    <script src="{{ base_url }}assets/js/jquery.table2excel.min.js"></script>
    <script src="{{ base_url }}assets/js/metisMenu.min.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ base_url }}assets/kendo/js/jszip.min.js"></script>
<script>

    var tabel;
    var produkSource = [];
    var fakturSource = [];
    $(document).ready(function() {
        $("#grid").kendoGrid({});
    });
    function cariKode(){    
        $('#produk').typeahead({
                source: produkSource
            });
    }

    function Nofaktur(){
        $('#nofaktur').val("");
        var cabang  = document.getElementById("Cabang").value;
        var tipe  = document.getElementById("tipe").value;
        var expld   = cabang.split("-");
        cabang = expld[0]; 
       $.ajax({
            url : "{{ base_url }}listFakturRetur/",
            type: "POST",
            dataType: "JSON",
            data:{tipe:tipe,cabang:cabang},
            success: function(data)
            {   
                for (var i in data) {
                    fakturSource[i] = data[i].Nofaktur+"~"+data[i].TglFaktur+"~"+data[i].TipeDokumen;
                }
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif("danger","<h3>error tarik data faktur</h3");
                return;  
            }
        });
        $('#nofaktur').typeahead("destroy");
        $('#nofaktur').typeahead({
            source: fakturSource
        });
            
    }

    function f_get_data(){
        $("#grid").data("kendoGrid").destroy();
        $("#grid").empty();
        var cabang  = document.getElementById("Cabang").value;
        var tipe      = document.getElementById("tipe").value;
        var NoFaktur  = document.getElementById("nofaktur").value;
        var expld   = cabang.split("-");
        var xpl = NoFaktur.split("~");
        NoFaktur = xpl[0];
        cabang = expld[0]; 
        if(tipe == ""){
            notif("danger","<h3>tipe dokumen mesti di pilih</h3>");
            return;
        }
        if(tipe == 'Faktur'){
            f_efaktur(tipe,cabang,NoFaktur);
        }else if(tipe == 'Retur'){
            f_eretur(tipe,cabang,NoFaktur);
        }
    }

    function f_efaktur(tipe,cabang,NoFaktur){
        var ds = new kendo.data.DataSource({
            transport: {
                    read: {
                        type: 'Post',
                        url: "{{ base_url }}getefakturbyNo",   
                        dataType: 'json',
                        data:{cabang:cabang,tipe:tipe,NoFaktur:NoFaktur},
                    }
                },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
            schema: {
                data: function(data){
                    return data;
                },
                model: {
                    fields: {
                        rownumber       : { editable: false, nullable: true },
                        FK                      : {type:"string", editable:false},
                        KodeJenisTransaksi      : {type:"string", editable:false},
                        FGPengganti             : {type:"string", editable:false},
                        NoFaktur                : {type:"string", editable:false},
                        MasaPajak               : {type:"string", editable:false},
                        TahunPajak              : {type:"string", editable:false},
                        TanggalFaktur           : {type:"string", editable:false},
                        NPWP                    : {type:"string", editable:false},
                        Nama                    : {type:"string", editable:false},
                        AlamatLengkap           : {type:"string", editable:false},
                        JumlahDPP               : {type:"number", editable:false},
                        JumlahPpn               : {type:"number", editable:false},
                        JumlahPpnBM             : {type:"number", editable:false},
                        IDKeteranganTambahan    : {type:"string", editable:false},
                        FGUangMuka              : {type:"number", editable:false},
                        UangMukaDPP             : {type:"number", editable:false},
                        UangMukaPpn             : {type:"number", editable:false},
                        UangMukaPpnBM           : {type:"number", editable:false},
                        Referensi               : {type:"string", editable:false},
                        Keterangan              : {type:"string", editable:false},
                        KeteranganTanggal       : {type:"string", editable:false},
                        KetTipePajak            : {type:"string", editable:false},
                    }
                },
            },
            aggregate: [
                    { field: "JumlahDPP", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "JumlahPpn", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "JumlahPpnBM", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "FGUangMuka", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "UangMukaDPP", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "UangMukaPpn", aggregate: "sum" ,  format: '{0:n2}'},
                    { field: "UangMukaPpnBM", aggregate: "sum" ,  format: '{0:n2}'},
                ],
        });

        $("#grid").kendoGrid({
            dataSource : ds,
            scrollable: true,
            filterable: true,
            sortable: true,
            navigatable: true,
            resizable: true,
            width:"100%",
            height: 700,
            pageable:true,
            selectable: "single",
            save: function (e) {
                e.sender.refresh();
            }, // untuk menghitung ulang 
            toolbar: ["excel"],
            excel: {
                fileName: "Data Tarikan E-Faktur.xlsx",
                filterable: true
            },
            columns: [
                {
                    title: "Data Tarikan E-Faktur " + " CABANG : " + cabang.toUpperCase(),
                    headerAttributes: {style: "text-align: center"},
                    columns:[
                        {
                            // field : "periode", 
                            // title: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            // headerTemplate: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            headerAttributes: {style: "text-align: left"},
                            columns:[
                                     {
                                        field: "FK",
                                        title: "FK",
                                        width: 50,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true, 
                                        footerTemplate: "Total :"
                                    },
                                    {
                                        field: "KodeJenisTransaksi",
                                        title: "Kode Jenis Transaksi",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                        
                                    },
                                    {
                                        
                                        field: "FGPengganti",
                                        title: "FG Pengganti",
                                        width: 100,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                    },

                                    {
                                        field: "NoFaktur",
                                        title: "No Faktur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },

                                    {
                                        field: "MasaPajak",
                                        title: "Masa Pajak",
                                        width: 50,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },

                                    {
                                        // hidden:true,
                                        field: "TahunPajak",
                                        title: "Tahun Pajak",
                                        nullable: false,
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                       
                                        // editor: dropdownproduct
                                    },
                                    {
                                        field: "TanggalFaktur",
                                        title: "Tanggal Faktur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                    },
                                    {
                                        
                                        field: "NPWP",
                                        title: "NPWP",
                                        width: 100,
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },

                                    {
                                        field: "Nama",
                                        title: "Nama",
                                        width: 150,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                    },

                                    {
                                        field: "AlamatLengkap",
                                        title: "Alamat",
                                        width: 200,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                    },

                                    {
                                        // hidden:true,
                                        field: "JumlahDPP",
                                        title: "DPP",
                                        nullable: false,
                                        width: 100,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                        // editor: dropdownproduct
                                    },
                                    {
                                        field: "JumlahPpn",
                                        title: "PPN",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "JumlahPpnBM",
                                        title: "PPN BM",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "IDKeteranganTambahan",
                                        title: "Keterangan Tambahan",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                       
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "FGUangMuka",
                                        title: "FG Uang Muka",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "UangMukaDPP",
                                        title: "uang Muka DPP",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "UangMukaPpn",
                                        title: "Uang Muka PPN",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "UangMukaPpnBM",
                                        title: "Uang Muka PPN BM",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "Referensi",
                                        title: "Referensi",
                                        width: 150,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "Keterangan",
                                        title: "Keterangan",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "KeteranganTanggal",
                                        title: "Keterangan Tanggal",
                                        width: 100,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "KetTipePajak",
                                        title: "Ket Tipe Pajak",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                       
                                       // editor:dropdownunit

                                    },
                                   
                                ]
                            },
                        ], 
                    },
                    ],
                           
                    dataBound: function (e) {
                        resetRowNumber();
                        
                    },
                    dataBinding: function(){
                        
                    }

        });
            $("#grid").data("kendoGrid").setDataSource(ds);
    }
    function f_eretur(tipe,cabang,NoFaktur){
            var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: 'Post',
                        url: "{{ base_url }}getefakturbyNo",   
                        dataType: 'json',
                        data:{cabang:cabang,tipe:tipe,NoFaktur:NoFaktur},
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                   console.log(jqXHR);
                },
                schema: {
                    data: function(data){
                        return data;
                    },
                    model: {
                            fields: {
                                rownumber       : { editable: false, nullable: true },
                                RK                      : {type:"string", editable:false},
                                KodeJenisTransaksi      : {type:"string", editable:false},
                                FGPengganti             : {type:"string", editable:false},
                                NoFaktur                : {type:"string", editable:false},
                                MasaPajak               : {type:"string", editable:false},
                                TahunPajak              : {type:"string", editable:false},
                                AcuFaktur               : {type:"string", editable:false},
                                TanggalFaktur           : {type:"string", editable:false},
                                TanggalRetur           : {type:"string", editable:false},
                                NPWP                    : {type:"string", editable:false},
                                Nama                    : {type:"string", editable:false},
                                AlamatLengkap           : {type:"string", editable:false},
                                JumlahDPP               : {type:"number", editable:false},
                                JumlahPpn               : {type:"number", editable:false},
                                JumlahPpnBM             : {type:"number", editable:false},
                                IDKeteranganTambahan    : {type:"string", editable:false},
                                FGUangMuka              : {type:"number", editable:false},
                                UangMukaDPP             : {type:"number", editable:false},
                                UangMukaPpn             : {type:"number", editable:false},
                                UangMukaPpnBM           : {type:"number", editable:false},
                                Referensi               : {type:"string", editable:false},
                                Keterangan              : {type:"string", editable:false},
                                KeteranganTanggal       : {type:"string", editable:false},
                                KetTipePajak            : {type:"string", editable:false},
                            }
                    },
                },
                aggregate: [
                            { field: "JumlahDPP", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "JumlahPpn", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "JumlahPpnBM", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "FGUangMuka", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "UangMukaDPP", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "UangMukaPpn", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "UangMukaPpnBM", aggregate: "sum" ,  format: '{0:n2}'},
                    ],
        });

        $("#grid").kendoGrid({
            dataSource : ds,
            scrollable: true,
            filterable: true,
            sortable: true,
            navigatable: true,
            resizable: true,
            width:"100%",
            height: 700,
            pageable:true,
            selectable: "single",
            save: function (e) {
                e.sender.refresh();
            }, // untuk menghitung ulang 
            toolbar: ["excel"],
            excel: {
                fileName: "Data Tarikan E-Retur.xlsx",
                    filterable: true
                },
            columns: [
                    {
                        title: "Data Tarikan E-RETUR " + " CABANG : " + cabang.toUpperCase(),
                        headerAttributes: {style: "text-align: center"},
                        columns:[
                        {
                            // field : "periode", 
                            // title: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            // headerTemplate: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            headerAttributes: {style: "text-align: left"},
                            columns:[
                                     {
                                        field: "RK",
                                        title: "RK",
                                        width: 50,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true, 
                                        footerTemplate: "Total :"
                                    },
                                    {
                                        
                                        field: "NPWP",
                                        title: "NPWP",
                                        width: 100,
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },
                                    {
                                        field: "Nama",
                                        title: "Nama",
                                        width: 150,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                    },
                                    {
                                        field: "KodeJenisTransaksi",
                                        title: "Kode Jenis Transaksi",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                        
                                    },
                                    {
                                        
                                        field: "FGPengganti",
                                        title: "FG Pengganti",
                                        width: 100,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },    
                                    },
                                    {
                                        field: "AcuFaktur",
                                        title: "No Faktur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },
                                    {
                                        field: "TanggalFaktur",
                                        title: "Tanggal Faktur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                    },
                                    {
                                        field: "NoFaktur",
                                        title: "No Dokumen Retur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },
                                    {
                                        field: "TanggalRetur",
                                        title: "Tanggal Retur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                    },

                                    {
                                        field: "MasaPajak",
                                        title: "Masa Pajak Retur",
                                        width: 50,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                    },

                                    {
                                        // hidden:true,
                                        field: "TahunPajak",
                                        title: "Tahun Pajak Retur",
                                        nullable: false,
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                       
                                        // editor: dropdownproduct
                                    },
                                    {
                                        // hidden:true,
                                        field: "JumlahDPP",
                                        title: "Nilai Retur DPP",
                                        nullable: false,
                                        width: 100,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                        // editor: dropdownproduct
                                    },
                                    {
                                        field: "JumlahPpn",
                                        title: "Nilai Retur PPN",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "JumlahPpnBM",
                                        title: "Nilai Retur PPN BM",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        // format: '{0:n2}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                ]
                            },
                        ], 
                    },
                    ],
                           
                    dataBound: function (e) {
                        resetRowNumber();
                        
                    },
                    dataBinding: function(){
                        
                    }

        });
        $("#grid").data("kendoGrid").setDataSource(ds);
    }

        var rowNumber = 0;
        function resetRowNumber(e) {
            rowNumber = 0;
        }
         
        function renderNumber(data) {
            return ++rowNumber;
        }

        function f_pdf()
        {
            $('#cetak_list').print();
        }

         function f_tanggal(tglx)
        {
            var months = new Array(12);
                months[0] = "January";
                months[1] = "February";
                months[2] = "March";
                months[3] = "April";
                months[4] = "May";
                months[5] = "June";
                months[6] = "July";
                months[7] = "August";
                months[8] = "September";
                months[9] = "October";
                months[10] = "November";
                months[11] = "December";
            month_value = tglx.getMonth();
            day_value = tglx.getDate();
            year_value = tglx.getFullYear();
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            docdate = day_value + '-' + months[month_value] + '-' + year_value ;
            // doctime = hour_value + ':' + min_value;
            return docdate;
        }

        function f_time(tglx)
        {
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            doctime = hour_value + ':' + min_value;
            return doctime;
        }

        function f_excel()
        {
            setTimeout(function(){
                $('#cetak_list').table2excel({
                    exclude:".noExl",
                    name:"Laporan Jumlah Faktur report",
                    filename: "Laporan Jumlah Faktur report"
                });
            },500);
        }
      
</script>
    {% endblock %}