{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style type="text/css">
    textarea {
        resize: none;
    }
    .dropdown-menu{
        font-size: 12px !important;
    }
    th{
        text-align: center !important;
    }
    .hide{
        display: none;
    }
    
</style>
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none;">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<form role="form" method="post" id="myForm" enctype="multipart/form-data">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h1 class="page-header">Buat BPB</h1> -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <span>Ket: F1(Tambah Baris), F2(Save Data), F4(Hapus Baris)</span>
            <div class="panel panel-default" id="divOrder">
                <div class="panel-heading">
                    <b>Header</b>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body"> 
                    <!-- Start Hidden Form -->
                    <input class="form-control" type="hidden" name="counter" id="counter">
                    <input class="form-control" type="hidden" name="cabang" id="cabang" value="{{logs.cabang}}">
                    <input class="form-control" type="hidden" name="prinsipal" id="prinsipal" readonly="">
                    <input class="form-control" type="hidden" name="supplier" id="supplier" readonly="">
                    <input class="form-control" type="hidden" name="nousulan" id="nousulan" readonly="">
                    <!-- <input class="form-control" type="hidden" name="nodo" id="nodo" readonly=""> -->
                    <input class="form-control" type="hidden" name="tipe" id="tipe" readonly="">
                    <!-- End Hidden Form -->

                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">No PO</label>
                            <input class="form-control" type="text" name="nopo" id="nopo" readonly="">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">Pilih PR</label>
                            <select class="form-control selectpicker" id="pr" name="pr" onchange="PRPO()" data-live-search="true">
                            <!-- <select class="form-control" id="pr" name="pr" onchange= "GetDO()"> -->
                                <option value="">--- Silahkan Pilih No PR ---</option>
                                {% for pr in pr %}
                                    <option value="{{ pr.NoDokumen }}~{{ pr.No_PR }}" class="{{pr.Cabang}}">{{ pr.NoDokumen }}~{{ pr.No_PR }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                     <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">No DO</label>
                            <!-- <input type="text" class="form-control" name="nodo" id="nodo" onfocus="setdo()" onchange="PRPO()" > -->
                            <input type="text" class="form-control" name="nodo" id="nodo" readonly>
                            <input type="hidden" class="form-control" name="nobpb" id="nobpb" >
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">No SJ</label>
                            <input type="text" class="form-control" name="nosj" id="nosj">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">No BEX</label>
                            <input type="text" class="form-control" name="nobex" id="nobex">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">No INVOICE</label>
                            <input type="text" class="form-control" name="noinvoice" id="noinvoice">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">Tanggal</label>
                            <input type="text" class="form-control" name="tanggal" id="tanggal" value="{{tgl}}" readonly="">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">Dokumen</label>
                            <input type="file" class="form-control" name="Dokumen" id="Dokumen">
                        </div>
                    </div>
                    <div class="col-lg-1" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">Dokumen 2</label>
                            <input type="file" class="form-control" name="Dokumen2" id="Dokumen2">
                        </div>
                    </div>
                    <div class="col-lg-3" style="padding-right: 0px; padding-left: 10px">
                        <div class="form-group-sm">
                            <label class="control-label">Keterangan</label>
                            <textarea class="form-control" name="keterangan" id="keterangan" rows="1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Detail</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                                <div class="form-group-sm">
                                    <div class="table-responsive">
                                        <table class="table" id="table-total" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Bruto</th>
                                                    <th>Potongan</th>
                                                    <th>Netto</th>
                                                    <th>PPN</th>
                                                    <th>Total Value</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td width="16.66666667%"><input type="hidden" class="form-control" name="total1" id="total1"><input class="form-control" type="text" readonly="" name="total1mask" id="total1mask"></td>
                                                    <td width="16.66666667%"><input type="hidden" class="form-control" name="potongan" id="potongan"><input class="form-control" type="text" readonly="" name="potonganmask" id="potonganmask"></td>
                                                    <td width="16.66666667%"><input type="hidden" class="form-control" name="total2" id="total2"><input class="form-control" type="text" readonly="" name="total2mask" id="total2mask"></td>
                                                    <td width="16.66666667%"><input type="hidden" class="form-control" name="ppn" id="ppn"><input class="form-control" type="text" readonly="" name="ppnmask" id="ppnmask"></td>
                                                    <td width="16.66666667%"><input type="hidden" class="form-control" name="totalvalue" id="totalvalue"><input class="form-control" type="text" readonly="" name="totalvaluemask" id="totalvaluemask"></td>
                                                    <td width="16.66666667%">
                                                        <!-- <select class="form-control" id="status" name="status">
                                                            <option>Open</option>
                                                            <option>INVC</option>
                                                            <option>Cancel</option>
                                                        </select> -->
                                                        <input type="text" class="form-control" name="status" id="status" value="Open" readonly="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table class="table" id="table-barang">
                                            <thead>
                                                <tr>
                                                    <th>Del</th>
                                                    <th>Produk</th>
                                                    <th>Qty Pesan</th>
                                                    <th>Satuan</th>
                                                    <th>Qty Terima</th>
                                                    <th>Exp Date</th>
                                                    <th>Batch No</th>
                                                    <th>Harga Beli</th>
                                                    <th>Diskon</th>
                                                    <th>Bonus</th>
                                                    <th>HPC</th>
                                                    <th style="display: none;">HPC Awal</th>
                                                    <th>Value BPB</th>
                                                    <th>Banyak</th>
                                                    <th>Pot Cabang</th>
                                                    <th>PPN Cabang</th>
                                                    <th style="display: none;">Harga Beli Pusat</th>
                                                    <th style="display: none;">Diskon Pusat</th>
                                                    <th style="display: none;">HPP</th>
                                                    <th style="display: none;">Value BPP</th>
                                                    <th style="display: none;">Pot Pusat</th>
                                                    <th style="display: none;">PPN Pusat</th>
                                                    <th>Batch Ref</th>
                                                    <th>Exp Ref</th>
                                                    <th>No GMS</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                    <div align="center">
                                        <input type="hidden" name="bucket" id="bucket" value="0">
                                        <input type="hidden" name="bucketmask" id="bucketmask" value="0">
                                        <!-- <a href="javascript:void(0)" type="submit" class="btn btn-success" onclick="addRow(this.form);">Tambah Barang</a>                                         -->
                                        <button type="reset" class="btn btn-default">Reset Form</button>
                                        <!-- <a href="javascript:void(0)" type="submit" class="btn btn-danger" id="removeRow" onclick="removeRow();">Hapus Baris</a> -->
                                    </div>
                                <hr>
                                <button type="button" id="btnSave" onclick="saveData()" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

{% endblock %}


{% block js %}
<script src="{{ base_url }}assets/js/jquery.chained.min.js"></script>
<script type="text/javascript">  
$(document).on('keydown', '.newRow', function(e) { 
  var keyCode = e.keyCode || e.which; 

  if (keyCode === 9) { 
    addRow();
    // call custom function here
  } 
});

$(document).on('keydown', '.delRow', function(e) { 
  var keyCode = e.keyCode || e.which; 

  if (e.shiftKey && keyCode === 9) { 
    removeRow();
    // call custom function here
  } 
});

document.onkeydown=function(e){
        if (e.which == 112) {
            e.preventDefault();
            addRow();
            var b = document.getElementById('bucket').value;
            $('#produk'+b).focus();
        }
        if (e.which == 113) {
            e.preventDefault();
            saveData();
        }
        if(e.which == 115) {
            e.preventDefault();
            var b = document.getElementById('bucket').value;
            if (b >= 0) {
                removeRow();
            }
        }
    }

$(document).ready(function() {  
        
        $('#removeRow').hide();
        $('#myForm')[0].reset(); // reset form on modals
        $('.selectpicker').selectpicker('val', '');
});
    
    function date(e) {
        $( "#expdate"+e ).datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            format: 'yyyy-mm-dd',
            onClose: function(dateText, inst) { 
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
    }

    // START TAMBAH & HAPUS ROW BARANG
    var noDOSource = []; 
    var rowNum = 0;
    var produkSource = [];
    function addRow(frm)
    {
        // var b = document.getElementById('bucket').value;
        var b = rowNum;
        var s = document.getElementById('satuan'+b).value;
        if (s) {
            $('#removeRow').show();
            rowNum ++;

            $('#table-barang').append($(
                '<tr id="itemRow'+rowNum+'">'+
                    '<td><button id="btn'+rowNum+'" baris='+rowNum+' class="btn glyphicon glyphicon-remove" onclick="remove_row(event,this)" title="Hapus" style="color:red;" /></td>'+
                    '<td><input class="delRow" name="produk[]" id="produk'+rowNum+'" onkeyup="cariKode('+rowNum+')" onchange="getProduk('+rowNum+')"></td>'+
                    '<td><input name="qtypesan[]" id="qtypesan'+rowNum+'"></td>'+
                    '<td><input name="satuan[]" id="satuan'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td>'+
                        '<input name="qtyterima[]" id="qtyterima'+rowNum+'" onkeyup="hitung()" onchange="hitung()">'+
                        '<input type="hidden" name="qty_sisa[]" id="qty_sisa'+rowNum+'" value="0">'+
                    '</td>'+
                    '<td><input class="expdate" name="expdate[]" id="expdate'+rowNum+'" onchange="validateBatch('+rowNum+')"></td>'+
                    '<td><input name="batchno[]" id="batchno'+rowNum+'" onchange="validateBatch('+rowNum+')"></td>'+
                    '<td><input name="hargabeli[]" id="hargabeli'+rowNum+'" onkeyup="hitung()" onchange="hitung()"></td>'+
                    '<td><input name="diskon[]" id="diskon'+rowNum+'" onkeyup="hitung()" onchange="hitung()" readonly="" style="background-color:#ccc"></td>'+
                    '<td><input name="bonus[]" id="bonus'+rowNum+'" onkeyup="hitung()" onchange="hitung()"></td>'+
                    '<td><input name="hpc[]" id="hpc'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td style="display: none;"><input type="hidden" name="hpcawal[]" id="hpcawal'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td><input name="valuebpb[]" id="valuebpb'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td><input name="banyak[]" id="banyak'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td><input name="potcabang[]" id="potcabang'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td><input name="ppncabang[]" id="ppncabang'+rowNum+'" readonly="" style="background-color:#ccc"></td>'+
                    '<td style="display: none;"><input type="hidden" name="hargabelipusat[]" id="hargabelipusat'+rowNum+'"></td>'+
                    '<td style="display: none;"><input type="hidden" name="diskonpusat[]" id="diskonpusat'+rowNum+'"></td>'+
                    '<td style="display: none;"><input type="hidden" name="hpp[]" id="hpp'+rowNum+'"></td>'+
                    '<td style="display: none;"><input type="hidden" name="valuebpp[]" id="valuebpp'+rowNum+'"></td>'+
                    '<td style="display: none;"><input type="hidden" name="potpusat[]" id="potpusat'+rowNum+'"></td>'+
                    '<td style="display: none;"><input type="hidden" name="ppnpusat[]" id="ppnpusat'+rowNum+'"></td>'+
                    '<td><input name="batchref[]" id="batchref'+rowNum+'"></td>'+
                    '<td><input name="expref[]" id="expref'+rowNum+'"></td>'+
                    '<td><input name="nogms[]" id="nogms'+rowNum+'" class="newRow"></td>'+
                '</tr>')); 

            date(rowNum);
            $('#bucket').val(rowNum);
        }
        else
        {
            $("#notif").empty();
            notif('warning', 'PERHATIAN! Isi form diatas terlebih dahulu');
        }
    }

    function removeRow() 
    {
        if (rowNum>=0) {
            jQuery('#itemRow'+rowNum).remove();
            rowNum--;
        }
        else{

            notif('warning', 'PERHATIAN! Baris pertama tidak bisa dihapus');
        }
        $('#bucket').val(rowNum);
    }

    function clearRow() 
    {
        var bucket = document.getElementById('bucket').value;
        for (var e = bucket; e >= 0; e--) {            
            jQuery('#itemRow'+e).remove();            
            rowNum--;
        }

        $('#removeRow').hide();
        $('#bucket').val(rowNum);
    }  

    function resetData() {
        clearRow();
        $('#myForm').find('input, select, textarea').not("#cabang,#pr,#tanggal").val('');
    }

    function getPR(no) {
        resetData();
        produkSource.length = 0;
        // START CEK BPB
        $.ajax({
                url : "{{ base_url }}getbpbpr/",
                type: "POST",
                data:{no:no},
                dataType: "JSON",
                success: function(data)
                {
                    if (data != '') {
                        clearRow();      
                        $('#nopo').val(data[0].NoDokumen);
                        $('#nopr').val(data[0].NoPR);
                        $('#nousulan').val(data[0].NoUsulan);
                        $('#prinsipal').val(data[0].Prinsipal);
                        $('#supplier').val(data[0].Supplier);
                        $('#tipe').val(data[0].Tipe);
                        $('#nosj').val(data[0].NoSJ);
                        $('#nobex').val(data[0].NoBEX);
                        $('#noinvoice').val(data[0].NoInv);
                        $('#status').val(data[0].Status);
                        for(i in data){
                            produkSource[i] = data[i].Produk+"~"+data[i].NamaProduk;
                            var HrgBeli = data[i].HrgBeli;
                            $('#table-barang').append($(
                                '<tr id="itemRow'+i+'">'+
                                    '<td><button id="btn'+i+'" baris='+i+' class="btn glyphicon glyphicon-remove" onclick="remove_row(event,this)" title="Hapus" style="color:red;" /></td>'+
                                    '<td><input class="delRow" name="produk[]" value="'+data[i].Produk+'~'+data[i].NamaProduk+'" id="produk'+i+'" onkeyup="cariKode('+i+')" onchange="getProduk('+i+')" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="qtypesan[]" value="'+data[i].QtyPO+'" id="qtypesan'+i+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="satuan[]" value="'+data[i].Satuan+'" id="satuan'+i+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="qtyterima[]" id="qtyterima'+i+'" onkeyup="hitung()" onchange="hitung()" value="'+data[i].Qty+'"></td>'+
                                    '<td><input class="expdate" name="expdate[]" onchange="validateBatch('+i+')" id="expdate'+i+'" value="'+data[i].ExpDate+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="batchno[]" id="batchno'+i+'" onchange="validateBatch('+i+')" value="'+data[i].BatchNo+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="hargabeli[]" value="'+HrgBeli+'" id="hargabeli'+i+'" onkeyup="hitung()" onchange="hitung()" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="diskon[]" value="'+data[i].Disc+'" id="diskon'+i+'" onkeyup="hitung()" onchange="hitung()" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="bonus[]" value="'+data[i].Bonus+'" id="bonus'+i+'" onkeyup="hitung()" onchange="hitung()" ></td>'+
                                    '<td><input name="hpc[]" id="hpc'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].HPC+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hpcawal[]" id="hpcawal'+i+'" value="'+data[i].HPC1+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="valuebpb[]" id="valuebpb'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Value+'"></td>'+
                                    '<td><input name="banyak[]" id="banyak'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Banyak+'"></td>'+
                                    '<td><input name="potcabang[]" id="potcabang'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Potongan+'"></td><td><input name="ppncabang[]" id="ppncabang'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].PPN+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hargabelipusat[]" id="hargabelipusat'+i+'" value="'+data[i].Harga_Beli_Pst+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="diskonpusat[]" id="diskonpusat'+i+'" value="'+data[i].Disc_Pst+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hpp[]" id="hpp'+i+'" value="'+data[i].HPP+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="valuebpp[]" id="valuebpp'+i+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="potpusat[]" id="potpusat'+i+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="ppnpusat[]" id="ppnpusat'+i+'"></td>'+
                                    '<td><input name="batchref[]" id="batchref'+i+'"></td>'+
                                    '<td><input name="expref[]" id="expref'+i+'"></td>'+
                                    '<td><input name="nogms[]" id="nogms'+i+'" class="newRow"></td>'+
                                '</tr>'));
                            if(data[0].Prinsipal == 'LAIN-LAIN' || data[0].Prinsipal == 'LAIN-LAIN 2') {
                                $("#hargabeli"+i).attr("readonly", false);
                                $("#diskon"+i).attr("readonly", false);
                            }    
                            date(i);
                        }
                        $('#nobpb').val(data[0].NoDokumen);
                        var bpb = data[0].NoDokumen;
                        var split = bpb.split("/");
                        var counter = split[4];
                        $('#counter').val(counter);
                        rowNum = i;
                        $("#bucketmask").val(i);
                        $("#bucket").val(i);
                        hitung();
                        // loadProduk();
                        getCounterBPB();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $("#notif").empty();
                    notif('danger','Error get list data from ajax');
                }
            });
        // END CEK BPB        
    }

    function GetDO(){
        resetData();
        produkSource.length = 0;
        var no = document.getElementById('pr').value;
         $.ajax({
                url : "{{ base_url }}getDO/",
                type: "POST",
                data:{no:no},
                dataType: "JSON",
                success: function(data)
                {
                    // $('#nodo').empty(); 
                    // $('#nodo').append('<option value ="1">==Select No DO==</option>');  
                    for (var i in data) {
                        noDOSource[i] = data[i].NoDokumen;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $("#notif").empty();
                    notif('danger','Error get list data from ajax');
                }
            });
    }

     function setdo() {
        if (noDOSource == ""){
            notif('warning', 'PERHATIAN! No DO Tidak Ada');
            $("#nodo").focus();
        }
        else{
            $('#nodo').typeahead({
                source: noDOSource,
            });
        }
    }
    function PRPO() {
        // resetData();
        produkSource.length = 0;
        var nodok = $('#pr').val();
        var split = nodok.split("~"); 
        var no = split[1];
        var nodo = split[0];
        $.ajax({
                url : "{{ base_url }}getprpo/",
                type: "POST",
                data:{no:nodo},
                dataType: "JSON",
                success: function(data)
                {
                    if (data != '') {
                        clearRow();      
                        $('#nobpb').val(data[0].NoBPB);
                        $('#nopo').val(data[0].NoPO);
                        $('#nodo').val(data[0].NoDokumen);
                        $('#nopr').val(data[0].NoPR);
                        $('#nousulan').val(data[0].NoUsulan);
                        $('#prinsipal').val(data[0].Prinsipal);
                        $('#supplier').val(data[0].Supplier);
                        $('#tipe').val(data[0].Tipe);
                        $('#nosj').val(data[0].NoSJ);
                        $('#nobex').val(data[0].NoBEX);
                        $('#noinvoice').val(data[0].NoInv);
                        $('#status').val(data[0].Status);
                        for(i in data){
                            produkSource[i] = data[i].Produk+"~"+data[i].NamaProduk;
                            var HrgBeli = data[i].HrgBeli;
                            // if(data[i].diterima < data[i].QtyPO){
                            $('#table-barang').append($(
                                '<tr id="itemRow'+i+'">'+
                                    '<td><button id="btn'+i+'" baris='+i+' class="btn glyphicon glyphicon-remove" onclick="remove_row(event,this)" title="Hapus" style="color:red;" /></td>'+
                                    '<td><input class="delRow" name="produk[]" value="'+data[i].Produk+'~'+data[i].NamaProduk+'" id="produk'+i+'" onkeyup="cariKode('+i+')" onchange="getProduk('+i+')" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="qtypesan[]" value="'+data[i].QtyPO+'" id="qtypesan'+i+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="satuan[]" value="'+data[i].Satuan+'" id="satuan'+i+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td>'+
                                        '<input name="qtyterima[]" id="qtyterima'+i+'" onkeyup="hitung()" onchange="hitung()" value="'+(data[i].Qty - data[i].diterima)+'">'+
                                        '<input type="hidden" name="qty_sisa[]" id="qty_sisa'+i+'" value="'+(data[i].Qty - data[i].diterima)+'">'+
                                    '</td>'+
                                    '<td><input class="expdate" name="expdate[]" onchange="validateBatch('+i+')" id="expdate'+i+'" value="'+data[i].ExpDate+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="batchno[]" id="batchno'+i+'" onchange="validateBatch('+i+')" value="'+data[i].BatchNo+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="hargabeli[]" value="'+HrgBeli+'" id="hargabeli'+i+'" onkeyup="hitung()" onchange="hitung()" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="diskon[]" value="'+data[i].Disc+'" id="diskon'+i+'" onkeyup="hitung()" onchange="hitung()" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="bonus[]" value="'+data[i].Bonus+'" id="bonus'+i+'" onkeyup="hitung()" onchange="hitung()" ></td>'+
                                    '<td><input name="hpc[]" id="hpc'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].HPC+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hpcawal[]" id="hpcawal'+i+'" value="'+data[i].HPC1+'" readonly="" style="background-color:#ccc"></td>'+
                                    '<td><input name="valuebpb[]" id="valuebpb'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Value+'"></td>'+
                                    '<td><input name="banyak[]" id="banyak'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Banyak+'"></td>'+
                                    '<td><input name="potcabang[]" id="potcabang'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].Potongan+'"></td>'+
                                    '<td><input name="ppncabang[]" id="ppncabang'+i+'" readonly="" style="background-color:#ccc" value="'+data[i].PPN+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hargabelipusat[]" id="hargabelipusat'+i+'" value="'+data[i].Harga_Beli_Pst+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="diskonpusat[]" id="diskonpusat'+i+'" value="'+data[i].Disc_Pst+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="hpp[]" id="hpp'+i+'" value="'+data[i].HPP+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="valuebpp[]" id="valuebpp'+i+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="potpusat[]" id="potpusat'+i+'"></td>'+
                                    '<td style="display: none;"><input type="hidden" name="ppnpusat[]" id="ppnpusat'+i+'"></td>'+
                                    '<td><input name="batchref[]" id="batchref'+i+'"></td>'+
                                    '<td><input name="expref[]" id="expref'+i+'"></td>'+
                                    '<td><input name="nogms[]" id="nogms'+i+'" class="newRow"></td>'+
                                '</tr>'));
                            // }
                            if(data[0].Prinsipal == 'LAIN-LAIN' || data[0].Prinsipal == 'LAIN-LAIN 2') {
                                $("#hargabeli"+i).attr("readonly", false);
                            } 
                            date(i);
                        }
                        if($('#table-barang tbody tr').length == 0){
                            notif("danger","Barang PR/PO tersebut sudah di BPB semua");
                            return;
                        }
                        $('#nobpb').val(data[0].NoDokumen);
                        var bpb = data[0].NoDokumen;
                        var split = bpb.split("/");
                        var counter = split[4];
                        $('#counter').val(counter);
                        rowNum = i;
                        $("#bucketmask").val(i);
                        $("#bucket").val(i);
                        hitung();
                        // loadProduk();
                        getCounterBPB();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $("#notif").empty();
                    notif('danger','Error get list data from ajax');
                }
            });
    }

    function getCounterBPB() {
        var cab = document.getElementById('cabang').value;
        var pr = document.getElementById('pr').value;
        var split = pr.split("/");  
        if (cab) {
            $.ajax({
                url : "{{ base_url }}getCounterBPB/",
                type: "POST",
                data:{cab:cab},
                dataType: "JSON",
                success: function(data)
                {
                    $("#nobpb").val("BPB/"+split[1]+"/"+split[2]+"/"+data.tgl+"/"+data.counter);   
                    $("#counter").val(data.counter);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    $("#notif").empty();
                    notif('danger','Error get counter from ajax');
                }
            });
        }
    }

    // var produkSource = [];
    // function loadProduk() {
    //     var Prinsipal = document.getElementById('prinsipal').value;
    //     var Supplier = document.getElementById('supplier').value;
    //     var split2 = Prinsipal.split("~");
    //         var prinspl = split2[0];
    //     if ((Prinsipal) && (Supplier)) {
    //         $.ajax({
    //             url : "{{ base_url }}listProdukUsulanBeli/",
    //             type: "POST",
    //             data:{prinsipal:prinspl, supplier:Supplier},
    //             dataType: "JSON",
    //             success: function(data)
    //             {
    //                 for (var i in data) {
    //                     produkSource[i] = data[i].Kode_Produk+"~"+data[i].Produk;
    //                 }

    //             },
    //             error: function (jqXHR, textStatus, errorThrown)
    //             {
    //                 $("#notif").empty();
    //                 notif('danger','Error get list Produk from ajax');
    //             }
    //         });
    //     }
    //     else{
    //         produkSource.length = 0;
    //     }
    // }


    function cariKode(e){    
        var data = document.getElementById('supplier').value;
        if (data == "") {
            $("#notif").empty();
            // notif('warning', 'PERHATIAN! Mohon Pilih Pelanggan Terlebih Dahulu.', 'cariKode');
            notif('warning', 'PERHATIAN! Mohon Pilih Prinsipal + Supplier Terlebih Dahulu');
        }
 
            $('#produk'+e).typeahead({
                    source: produkSource
                });
    }
    var diskon = [];
    function getProduk(e){
        
        var nodo = document.getElementById('nodo').value;


        var bucket =document.getElementById('bucket').value; 
        var Value = document.getElementById('produk'+e).value;
        var split = Value.split("~");
        var Kode = split[0];
            $.ajax({
                url : "{{ base_url }}getProdukUsulanBeli/"+Kode,
                type: "GET",
               
                dataType: "JSON",
                success: function(data)
                {   
                    if (data)
                    {
                        if (data.Data) {  
                            var dsc ;
                            var QTY; 
                            var yx =0;
                            var bucket = $('#table-barang tbody tr').length;
                            for (var x = 0; x < bucket; x++) {
                            var Values = document.getElementById('produk'+x).value;
                            var split = Values.split("~");
                            var Kodeprod = split[0];

                            
                            if(Kodeprod == Kode){
                                if(yx < 1){
                                dsc = document.getElementById('diskon'+x).value;
                                QTY = document.getElementById('qtypesan'+x).value;
                                yx = yx+1;
                                // console.log(Kodeprod);
                            }
                            }

                            }        
                            // console.log(dsc);
                                              
                            // diskon = data.Diskon;
                            $('#satuan'+e).val(data.Data.Satuan);
                            $('#hargabeli'+e).val(data.HBC);
                            $('#hpc'+e).val(data.HBC);
                            $('#hpcawal'+e).val(data.HBC);
                            $('#hargabelipusat'+e).val(data.HBP);
                            $('#hpp'+e).val(data.HBP);
                            $('#diskon'+e).val(dsc);
                            $('#qtypesan'+e).val(QTY);
                            
                            cekHarga(e);
                        }

                        
                    }
                    else
                    {                        
                        $('#satuan'+e).val("");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    
                }
            });
    }

    function cekHarga(e) {
        var Satuan = document.getElementById('satuan'+e).value;
        var HBC = document.getElementById('hpc'+e).value;
        var HBP = document.getElementById('hpp'+e).value;

        if (Satuan != "") {
            if (HBC == "" || HBP == "") {
                $("#notif").empty();
                notif('warning', 'PERHATIAN! Data Harga Beli Cabang & Harga Beli Pusat kosong.');
                // $('#Produk'+e).val("");
                $('#produk'+e).val("");
                $('#satuan'+e).val("");

            }
        }
    }

    function validateBatch(e) {
        var batch = document.getElementById('batchno'+e).value;
        var expdate = document.getElementById('expdate'+e).value;
        var bucket = $('#table-barang tbody tr').length;

        for (var i = 0; i < bucket; i++) {
            var batch2 = document.getElementById('batchno'+i).value;
            var expdate2 = document.getElementById('expdate'+i).value;
            if (batch2 != '' && expdate2 != '' && i != e){
                if (batch == batch2 && expdate == expdate2) 
                { 
                    notif('warning','PERHATIAN! Mohon periksa kembali No Batch & Exp Date, data tidak boleh sama');
                    $('#batchno'+e).val('');
                    $('#expdate'+e).val('');
                }
            }
        }
    }

    function hitung() {
        // var bucket = ((document.getElementById('bucket').value) ? document.getElementById('bucket').value : 0);
        var bucket = $('#table-barang tbody tr').length;
        var summary = 0;
        var total1 = 0;
        var total2 = 0;
        var totpot = 0;
        var totppn = 0;
        for (var e = 0; e < bucket; e++) {
            // console.log(e);
            var qty = ((document.getElementById('qtyterima'+e).value) ? document.getElementById('qtyterima'+e).value : 0);
            var hargabeli = ((document.getElementById('hargabeli'+e).value) ? document.getElementById('hargabeli'+e).value : 0);
            var diskon = ((document.getElementById('diskon'+e).value) ? document.getElementById('diskon'+e).value : 0);
            var bonus = ((document.getElementById('bonus'+e).value) ? document.getElementById('bonus'+e).value : 0);
            var hpc = ((document.getElementById('hpc'+e).value) ? document.getElementById('hpc'+e).value : 0);
            var value = 0;
            var banyak = 0;
            var total = 0;

            var disc = diskon/100;

            // diskon HPC HPP
            // hpp = HBP - (HBP*diskon);
            diskon =( hargabeli * qty ) * ( diskon / 100 );
            potongan = ( bonus * hargabeli ) + diskon;
            if (hargabeli > 0) {                
                value = ( qty * hargabeli ) - diskon;                         
                hpc = hargabeli - (hargabeli*disc);
            }
            else
            {
                value = ( qty * hpc );
            }
            ppn = value * ( 10 / 100 );
            total = ppn + value;            
            banyak = parseInt(qty) + parseInt(bonus);
            $('#hpc'+e).val(hpc);
            $('#banyak'+e).val(banyak.toFixed(2));
            $('#potcabang'+e).val(potongan.toFixed(2));
            $('#ppncabang'+e).val(ppn.toFixed(2));


            // Nilai VALUE
            total1 = parseInt(total1) + (qty * hargabeli);
            totpot = totpot + potongan;
            total2 = total2 + value;
            totppn = totppn + ppn;
            summary = summary + total;

            $('#valuebpb'+e).val(total.toFixed(2));
        }
            $('#total1mask').val(numberWithCommas(total1.toFixed(2)));
            $('#total1').val(total1.toFixed(2));
            $('#potonganmask').val(numberWithCommas(totpot.toFixed(2)));
            $('#potongan').val(totpot.toFixed(2));
            $('#total2mask').val(numberWithCommas(total2.toFixed(2)));
            $('#total2').val(total2.toFixed(2));
            $('#ppnmask').val(numberWithCommas(totppn.toFixed(2)));
            $('#ppn').val(totppn.toFixed(2));
            $('#totalvaluemask').val(numberWithCommas(summary.toFixed(2)));
            $('#totalvalue').val(summary.toFixed(2));
            // var sisa = parseInt(limit) - parseInt(po) - parseInt(summary);
            // $('#SisaLimit').val(sisa);
    }

    function saveData() {        
        $("#notif").empty();
        var url = "{{ base_url }}saveDataBPB"; 
        
        for (var i = 0; i < bucket; i++) {
            // var batch = document.getElementById('batchno'+i).value;
            // var expdate = document.getElementById('expdate'+i).value;
            if($('#expdate'+i).val()==""){
                notif('warning', 'Expire date baris ke '+i+' belum diisi');
                return;
            }
            if($('#batchno'+i).val()==""){
                notif('warning', 'Kode Batch baris ke '+i+' belum diisi');
                return;
            }
        }

        $('#progressGIF').show();

        var formdata = new FormData();      
            // append tipe file
            var Dokumen = $('#Dokumen')[0].files[0];
            formdata.append('Dokumen', Dokumen);

            var Dokumen2 = $('#Dokumen2')[0].files[0];
            formdata.append('Dokumen2', Dokumen2);

            $.each($('#myForm').serializeArray(), function(a, b){
                formdata.append(b.name, b.value);
            });
         
            var formData = new FormData($('#myForm')[0]);

            $.ajax({
                url : url,
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                dataType: "JSON",
                success: function(data)
                {
                    if (data.status == false) {
                        if(data.nobpb == 'stok'){
                            notif('warning', 'PERHATIAN! bisa buat BPB karena belum closing atau sudah dilakukan settlement bulanan');
                        }else{
                            notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                        }
                    }
                    else{
                        notif('success', 'SUKSES! Data berhasil disimpan ke server pusat');
                    }
                    $('#progressGIF').hide();
                    notif('success', 'no dokumen : '+data.nobpb);
                    $('#myForm')[0].reset();
                    setTimeout(function(){
                        location.reload();
                    },10000);
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    // notif('danger', 'PERHATIAN! Save Data Order GAGAL.', 'gagal');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat. Data hanya tersimpan di server cabang.');
                    $('#progressGIF').hide();                    
                        location.reload();
                }
            });
    }

    function remove_row(e,param){
        e.preventDefault();
        $(param).closest("tr").remove();
        // console.log(s[0]);
        // var jumlah_row = $('#table-barang tbody tr').length;
        var x = 0;
        $('#table-barang tbody tr').each(function(){
                var baris = $(this).attr("id").substring(7, 9);
                // console.log("baris ke "+baris+" diganti "+x );
                $("#itemRow"+baris).attr("id","itemRow"+x);
                $("#btn"+baris).attr("id","btn"+x);
                $("#produk"+baris).attr({"id":"produk"+x,"onchange":"getProduk("+x+")","onkeyup":"cariKode("+x+")"});
                $("#qtypesan"+baris).attr("id","qtypesan"+x);
                $("#satuan"+baris).attr("id","satuan"+x);
                $("#qtyterima"+baris).attr("id","qtyterima"+x);
                $("#expdate"+baris).attr({"id":"expdate"+x,"onchange":"validateBatch("+x+")"});
                $("#batchno"+baris).attr({"id":"batchno"+x,"onchange":"validateBatch("+x+")"});
                $("#hargabeli"+baris).attr("id","hargabeli"+x);
                $("#diskon"+baris).attr("id","diskon"+x);
                $("#bonus"+baris).attr("id","bonus"+x);
                $("#hpc"+baris).attr("id","hpc"+x);
                $("#hpcawal"+baris).attr("id","hpcawal"+x);
                $("#valuebpb"+baris).attr("id","valuebpb"+x);
                $("#banyak"+baris).attr("id","banyak"+x);
                $("#potcabang"+baris).attr("id","potcabang"+x);
                $("#ppncabang"+baris).attr("id","ppncabang"+x);
                $("#hargabelipusat"+baris).attr("id","hargabelipusat"+x);
                $("#diskonpusat"+baris).attr("id","diskonpusat"+x);
                $("#hpp"+baris).attr("id","hpp"+x);
                $("#valuebpp"+baris).attr("id","valuebpp"+x);
                $("#potpusat"+baris).attr("id","potpusat"+x);
                $("#ppnpusat"+baris).attr("id","ppnpusat"+x);
                $("#batchref"+baris).attr("id","batchref"+x);
                $("#expref"+baris).attr("id","expref"+x);
                $("#nogms"+baris).attr("id","nogms"+x);
            x += 1;
        });

        rowNum = $('#table-barang tbody tr').length - 1;
        // console.log("rowNum "+rowNum);
        hitung();
        // console.log(jumlah_row);
        // for (var i = 0; i < jumlah_row; i++) {
        //     var id = $('#table-barang tbody tr').attr("id");
        //     console.log(id);
        //     // var jumlah_kolom = $('#itemRow'+i+' td').length;
        //     // // console.log(jumlah_kolom);
        //     // for (var j = 0; j < jumlah_kolom; j++) {
        //     //     var id = $('#itemRow'+i+' td').find('#btn'+j).attr("id");
        //     //     console.log(id);
        //     // }
        // }
    }
    </script>
{% endblock %}