{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>

    <link href= "{{ base_url }}assets/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.material.min.css" rel="stylesheet">

<style>
    #keterangan {

        width:700px;
    }

    .demo-section {
        width:100%;
    }
    .fieldlist_garis_bawah 
    {
        margin: 0;
        padding:0;

    }

    .fieldlist_garis_bawah li
    {
        list-style:none;
        padding:0;
    }

    .fieldlist_garis_bawah label {
        display: inline-block;
        width: 150px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    #fieldlist
    {
        margin:0;
        padding:0;
    }

    #fieldlist li
    {
        list-style:none;
        padding:0;
    }

    #fieldlist label {
        display: inline-block;
        width: 150px;
        font-size: 11px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 10px
    }
    .form-group{
        margin:1.5px;
    }

    .k-textbox{
        font-size: 11px; 
    }
    .datepicker{
        font-size: 11px; 
    }

    .k-grid td {
        font-size: 11px;
        padding: 3px;
        line-height: 1.5em;
    }
    .k-grid {
        font-size: 12px;
    }
            
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important; white-space: normal !important; 
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 8px
    }

    .k-grid-header .wrap-header {
        height:  5px;
        overflow: visible;
        white-space: normal;
    }

    .k-list-container{
        min-width:400px !important;
        width: auto!important;
    }
    .k-list
    {
         width:auto !important;
    }
    .highlighted-row {
        background-color: #eeffee;
    }
    .highlighted-row.k-alt {
        background-color: #ccffcc;
    }
    table > tbody > tr:hover,

        .table > table > tbody > tr:hover

    {
        background-color: #fce7dd;

    }

    tbody tr:nth-child(odd) {
        background-color: #fff;

    }
    .page-template {
          font-family: "DejaVu Sans", "Arial", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size:10px;
        }
        .page-template .header {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          border-bottom: 1px solid #888;
          color: #888;
        }
        .page-template .footer {
          position: absolute;
          bottom: 30px;
          left: 30px;
          right: 30px;
          border-top: 1px solid #888;
          text-align: center;
          color: #888;
        }
        .page-template .watermark {
          font-weight: bold;
          font-size: 400%;
          text-align: center;
          margin-top: 30%;
          color: #aaaaaa;
          opacity: 0.1;
          transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style> 
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading" style="min-height: 35px">
            <div style="float:left;">
                <table>
                <tr>
                    <td>Total user Login </td>
                    <td style="padding-left:10px">: </td>
                    <td style="padding-left:10px"> {% for totaluser in totaluser %}
                      <input class="form-control" type="text" style="width:50px;text-align:center" name="totaluser" id="totaluser" readonly value="{{ totaluser.totaluser }}">
                    {% endfor %}
                    </td>
                    <td style="padding-left:10px">Tanggal Server </td>
                    <td style="padding-left:10px">: </td>
                    <td style="padding-left:10px">  {% for cabang in cabang %}
                                {% if cabang.Cabang == logs.cabang %} 
                                    <input class="form-control" type="text" name="server_date" style="width:100px;text-align:center" id="server_date" readonly value="{{ cabang.server_date }}">
                                {% endif %}
                            {% endfor %}
                    </td>
                    <td style="padding-left:10px">Tanggal Closing </td>
                    <td style="padding-left:10px">: </td>
                    <td style="padding-left:10px">
                        <input class="form-control" type="text" name="closing_date" style="width:100px;text-align:center" id="closing_date" readonly value="{{ dateclosing }}">
                      
                    </td>
                    <!-- <td style="padding-left:10px">Tanggal Settlement Stok </td>
                    <td style="padding-left:10px">: </td>
                    <td style="padding-left:10px">
                        <input class="form-control" type="text" name="closing_date" style="width:100px;text-align:center" id="closing_date" readonly value="{{ datesettlement }}">
                      
                    </td> -->
                </tr>
                </table>
               <!-- </b> -->
            </div>
            <!-- <div style="width:50%;float:left;">
                <b><h5>CLOSING BULANAN</h5></b>
            </div> -->

        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
            <form role="form" id="myForm">
            <div class="table-responsive"> 
                <table>
                    <tr>
                        <td>Cabang</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px">
                            <input type="hidden" name="counter" value="{{counter}}">
                            {% for cabang in cabang %}
                                {% if cabang.Cabang == logs.cabang %} 
                                    <input class="form-control" type="text" style="width:130px;text-align:center" name="Cabang" id="Cabang" readonly value="{{ cabang.Cabang }}-{{ cabang.Kode }}">
                                    <input class="form-control" type="hidden" name="serv_date" id="serv_date" readonly value="{{ cabang.server_date }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="padding-left:10px"> UserName </td>
                        <td style="padding-left:10px"> : </td>
                        <td style="padding-left:10px">
                              <input class="form-control" type="text" style="width:70px;text-align:center" name="username" id="username" readonly value="{{ user }}">
                        </td>
                       <!--  <td style="padding-left:30px">Tanggal Komputer</td>
                        <td style="padding-left:10px">:</td>  
                        <td style="padding-left:10px"><input class ="datepicker" type="text" readonly name="tgldoc" id ="tgldoc"></td> -->
                        
                    </tr>
                    <tr>
                        <td>Closing Stok</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px"><input class="form-control" style="width:70px;text-align:center" type="text"  name="setstok" id="setstok" readonly value="{{ cektglstok }}"> 
                        
                        <td style="padding-left:10px">Faktur Open / Belum Jadi Kiriman</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px"><input class="form-control" style="width:70px;text-align:center" type="text"  name="DoOpen" id="DoOpen" readonly value="{{ DoOpen }}"> 
                                </td>
                        <td style="padding-left:10px">Faktur Kirim / Belum Terima Kiriman</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px"><input class="form-control" style="width:70px;text-align:center" type="text"  name="DoKirim" id="DoKirim" readonly value="{{ DoKirim }}"> 
                                </td>
                        <!-- <td style="padding-left:10px">Faktur Terima / Belum di validasi</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px"><input class="form-control" style="width:70px;text-align:center" type="text"  name="DoTerima" id="DoTerima" readonly value="{{ DoTerima }}"> 
                                </td> -->
                        <td style="padding-left:30px"> <a v-bind:href="javascript:" onclick="f_get_data();return false;" title="Proses" class="btn btn-primary" > <i class="fa fa-search-plus"><span style="padding-left:10px;padding-right:20px">Proses Closing</span></i></a> </td>
                    </tr>
                </table>
            </div>
            </div>
            </form>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>
<div id="msgBox"><center><h3>CLOSING BULANAN</h3></center> </div>
<div id = 'cetak_list'>
   <div id="grid"  class="k-grid"  data-csrf="{!! csrf_token()!!}"></div>
   <!-- <br>
   <hr width="100%" size="10">
   <div><center><strong>DATA GUDANG</strong></center></div>
   <br>
   <div id="grid_summary"> -->
</div>
{% endblock %}

{% block js %}
    <!-- <script src="{{ base_url }}assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="{{ base_url }}assets/kendo/js/jquery.min.js"> </script> -->
    <script src="{{ base_url }}assets/kendo/js/kendo.all.min.js"> </script> 
    <script src="{{ base_url }}assets/kendo/js/pako_deflate.min.js"> </script> 
    <script src="{{ base_url }}assets/js/jQuery.print.js"> </script>
    <script src="{{ base_url }}assets/js/jquery.table2excel.min.js"></script>
    <script src="{{ base_url }}assets/js/metisMenu.min.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ base_url }}assets/kendo/js/jszip.min.js"></script>
<script>

    var tabel;
    var produkSource = [];
    $(document).ready(function() {
        var validator = $(".datepicker").kendoValidator({
        rules: {
            dateValidation: function (e) {
                dateUniversal = $(e).val();
                var currentDate =  kendo.parseDate(dateUniversal, "dd/MM/yyyy");
                                if (!currentDate) {
                                    return false;
                                }
                                return true;
                            
                    }
                },messages: {
                    dateValidation: "wrong format"
                }
            }).data("kendoValidator");
        $("#grid").kendoGrid({});
        // var today1 = new Date();
        // $("#tgldoc").kendoDatePicker({format: "dd/MM/yyyy"});
        // $("#tgldoc").data("kendoDatePicker").value(today1);
        $.ajax({
            url : "{{ base_url }}listProdukAll",
            type: "GET",
            dataType: "JSON",
            success: function(data)
            {
                for (var i in data) {
                    produkSource[i] = data[i].Kode_Produk + "~" + data[i].Produk;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Gagal tarik data produk');
            }
        });   

        // style="width:70px;text-align:center;background-color:red;font-weight: bold;color:yellow"
        var setstok = document.getElementById("setstok");
        if(setstok.value == "OK"){
            $("#setstok").css('background-color','green').css('font-weight','bold').css('color','yellow');
        }else{
            $("#setstok").css('background-color','red').css('font-weight','bold').css('color','yellow');
        }

        // var setkasbank = document.getElementById("setkasbank");
        // if(setkasbank.value == "OK"){
        //     $("#setkasbank").css('background-color','green').css('font-weight','bold').css('color','yellow');
        // }else{
        //     $("#setkasbank").css('background-color','red').css('font-weight','bold').css('color','yellow');
        // }
            

    });

    function f_get_data(){
        var totaluser = document.getElementById("totaluser").value;
        var setstok   = document.getElementById("setstok").value;
        // var setkasbank   = document.getElementById("setkasbank").value;
        var DoOpen   = document.getElementById("DoOpen").value;
        var DoKirim   = document.getElementById("DoKirim").value;
        // var DoTerima   = document.getElementById("DoTerima").value;
        var exp = document.getElementById("Cabang").value;
        var cabang = exp.split('~');
        var cabang = cabang[0];
        var tgl_server   = document.getElementById("server_date").value;
        var tgl_server   = new Date(tgl_server);
        // var tgl_trans    = $("#tgldoc").data("kendoDatePicker").value();
        var date1 = tgl_server.getFullYear() + '/' + (tgl_server.getMonth() + 1 ) +'/'+ tgl_server.getDate();
        // var date2 = tgl_trans.getFullYear() + '/' + (tgl_trans.getMonth() + 1 ) +'/'+ tgl_trans.getDate();
        var date = new Date(), y = date.getFullYear(), m = date.getMonth();
        var lastDay = new Date(y, m + 1, 0);
        var tgl_akhir = lastDay.getFullYear() + '/' + (lastDay.getMonth()) +'/'+ lastDay.getDate();
        // if (date1 != date2){
        //     notif("warning","Ada kesalahan pada tanggal ! ");
        //     return;
        // };
        // if (totaluser > 1){
        //     notif("warning","Masih Ada user lain yg login ");
        //     return;
        // };

        // if(date1 != tgl_akhir){
        //     notif("warning"," Hari Bukan Akhir Bulan ");
        //     return;
        // }

        if((parseInt(DoOpen) > 0)  || (parseInt(DoKirim) > 0) ){
            notif("warning","Terdapat DO yg masih Open atau Belum Jadi Faktur ");
            return;
        }

        if(setstok == 'OK'){
            notif("warning","Sudah Dilakukan Closing  ");
            return;
        }
        $.ajax({
            url : "{{ base_url }}setClosingBulan",
            type: "POST",
            dataType: "JSON",
            success: function(data)
            {
                if (data.status == false) {
                    notif('warning', 'PERHATIAN! Tidak dapat Closing');
                    // reloadTable();
                }else if(data.status== true){
                    notif('success', 'Closing Sukses !!!');
                }
                $('#progressGIF').hide();

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Server Error');
                $('#progressGIF').hide();
            }
        });       

    }//end f_getdata_detail
         function f_tanggal(tglx)
        {
            var months = new Array(12);
                months[0] = "January";
                months[1] = "February";
                months[2] = "March";
                months[3] = "April";
                months[4] = "May";
                months[5] = "June";
                months[6] = "July";
                months[7] = "August";
                months[8] = "September";
                months[9] = "October";
                months[10] = "November";
                months[11] = "December";
            month_value = tglx.getMonth();
            day_value = tglx.getDate();
            year_value = tglx.getFullYear();
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            docdate = day_value + '-' + months[month_value] + '-' + year_value ;
            // doctime = hour_value + ':' + min_value;
            return docdate;
        }

        function f_time(tglx)
        {
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            doctime = hour_value + ':' + min_value;
            return doctime;
        }

        function f_excel()
        {
            setTimeout(function(){
                $('#cetak_list').table2excel({
                    exclude:".noExl",
                    name:"mutasi stok report",
                    filename: "mutasi stok report"
                });
            },500);
        }
      
</script>
    {% endblock %}