{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style type="text/css">
    .modal .modal-body {
    overflow-y: auto;
    overflow-x: auto;
}
table tr td{
    padding: 0 5px 0 5px;
}
</style>
<div class="modal">
    <div id="print_out"></div>
</div>
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none;">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Data Transaksi Kas by Periode</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6" style="margin-bottom: 10px" hidden>
            <button class="btn btn-default" onclick="reloadTable()"><i class="fa fa-refresh"></i> Reload</button>
        </div>
        <div class="col-lg-6">
            <table>
                <tr>
                    <td><label>Periode</label></td>
                    <td><input type="date" name="tgl1" class="form-control input-sm"></td>
                    <td>s/d</td>
                    <td><input type="date" name="tgl2" class="form-control input-sm"></td>
                    <td><button id="buttonload" class="btn btn-primary" onclick="load_data(event,this)">Tampilkan data</button></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            Tipe Kas : <select id="tipe" name="tipe">
                <option value="All">All</option>
                <option value="Besar">Kas Besar</option>
                <!-- <option value="Giro">Giro Cair</option> -->
                <option value="Kecil">Kas Kecil</option>
                <!-- <option value="GiroOut">Giro</option> -->
            </select>
        </div>
    </div>
    <br>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                        <div class="panel-heading">
                            Datatable Kas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr style="text-align: center;">
                                        <th></th>
                                        <th><input type="checkbox" name="title"  value="" id="checkAll" /></th>
                                        <th>Cabang</th>
                                        <th>Voucher</th>
                                        <th>Buku</th>
                                        <th>Tipe Buku</th>
                                        <th>Tanggal</th>
                                        <th>ID</th>
                                        <th>Kategori</th>
                                        <th>Transaksi</th>                                        
                                        <th>DR</th>
                                        <th>CR</th>
                                        <th>Jenis Trans</th>
                                        <th>Jumlah</th>
                                        <th>Saldo Awal</th>
                                        <th>Debit</th>
                                        <th>Kredit</th>
                                        <th>Saldo Akhir</th>
                                        <th>No Giro</th>
                                        <th>Keterangan</th>
                                        <th>Keterangan 1</th>
                                        <th>Keterangan 2</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}

{% block js %}
<script>
    var tabel;
    var list_data = [];
    var kat = "{{kat}}";

    $(document).ready(function() {
        $('#dataTables-example').on('processing.dt', function (e, settings, processing) {
            if (processing) {
                // console.log('it is loadding');     // **I do not get this**
                $("#buttonload").html('<i class="fa fa-refresh fa-spin"></i>&nbsp;silahkan tunggu Loading');
                $("#buttonload").prop('disabled', true);
            } else {
                // console.log('it is not loadding'); // **I get this**
                $("#buttonload").text('Tampilkan data');
                $("#buttonload").prop('disabled', false);
            }
        });


    });
    
    $("#checkAll").click(function(event ){
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    function load_data(e,x){
        e.preventDefault();
        $("#notif").empty();

        var tgl1 = $('[name=tgl1]').val();
        var tgl2 = $('[name=tgl2]').val();
        var tipe = $('#tipe').val();
        if(tgl1 == "" || tgl2 == ""){
            notif("danger", "<h4>Mohon isi periode</h4> dengan lengkap");
            $('[name=tgl1]').focus();
            return;
        }
        if ($.fn.dataTable.isDataTable('#dataTables-example')) {
            tabel.destroy();
            $('#tblRemittanceList tbody').empty();
        }
        
        $(x).prop('disabled', true);

        tabel = $('#dataTables-example').DataTable({
            "ordering": false,
            "processing": true, //Feature control the processing indicator.
            // Load data for the table's content from an Ajax source
            "serverSide": true,
            "ajax": {
                "url": "{{ base_url }}listDataTransaksi/All",
                "data":{
                    kat:kat,
                    tipe:tipe,
                    tgl1: tgl1,
                    tgl2: tgl2
                },
                "type": "POST"
            },
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            responsive: true,
            columnDefs:[
                {
                    targets: 1,
                    "render": function ( data, type, row, meta ) {
                        // console.log(row[1]);
                        return '<input type="checkbox" class="ceklis" value="'+row[7]+'">';
                        // return row[1];
                    }
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 
                {
                    extend:'pdf',
                    exportOptions: {
                        columns: ':visible',
                    },
                    download: 'open',
                    customize: function (doc) {
                        doc.content[1].table.widths = 
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                    }
                },
                {
                    text: 'Cetak Bukti',
                    action: function ( e, dt, node, config ) {
                        cetaklist();
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible',
                    }
                }, 
                'pageLength', 'colvis'
            ],
            "pageLength": 10,
            "language": {
                    "emptyTable":     "Tidak ada data.."
                }
        });
    }

    function prosesData(No)
    {
        var url = "{{ base_url }}prosesDataTransaksi"; 
        // ajax adding data to database
        $('#progressGIF').show();
        $.ajax({
            url : url,
            type: "POST",
            data:{No:No},
            dataType: "JSON",
            success: function(data)
            {
                if (data.status == false) {
                    // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                }
                else{
                    notif('success', 'SUKSES! Data berhasil disimpan ke server pusat');
                    reloadTable();
                }
                $('#progressGIF').hide();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('danger', 'GAGAL! Gagal Menyimpan Data');
                $('#progressGIF').hide();
            }
        });
    }

    function reloadTable()
    {
        tabel.ajax.reload(null,false);
    }

    function updateData()
    {
        $("#notif").empty();
        var url = "{{ base_url }}updateDataTransaksiPusat"; 
        // ajax adding data to database
        $('#progressGIF').show();
        $.ajax({
            url : url,
            type: "POST",
            dataType: "JSON",
            success: function(data)
            {
                if (data.ket == 'GAGAL') {
                    // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                }
                // else if (data.ket == 'CEK') {
                //     notif('warning', 'PERHATIAN! Periksa kembali, masih ada data usulan belum di proses ke pusat');   
                // }
                else{
                    notif('success', 'SUKSES! Data berhasil diupdate dari server pusat');
                }
                reloadTable();
                $('#progressGIF').hide();
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                $('#progressGIF').hide();
            }
        });
    }
    function allData() {   
        var tipex = document.getElementById('tipe').value; 
        tabel.ajax.url('{{ base_url }}listDataTransaksi/'+tipex);
        reloadTable();
    }   

    // function cetaklist(){
    //     $("#print_out").empty();
    //     $(".ceklis:checked").each(function () {
    //         list_data.push($(this).val());
    //     });
    //     list = list_data.filter((x, i, a) => a.indexOf(x) == i);
    //     // console.log(list);
    //     var f = 0;
    //     for (var i = 0; i < list.length; i++) {
    //         $.ajax({
    //             url : "{{ base_url }}cetak_kas",
    //             type: "POST",
    //             data:{no:list[i]},
    //             dataType: "JSON",
    //             success: function(param){
    //                 // console.log(param);
    //                 $("#print_out").append($("<div>").load("{{base_url}}assets/print_template/cetak_bukti_kas.php", {var1:param},function(){
    //                         f = f+1;
    //                         if(f == list.length){
    //                             $('#progressGIF').hide();
    //                             $('#print_out').print();
    //                             // printDiv('print_out')
    //                         }
    //                     }));
    //             },
    //             error: function(error){

    //             }
    //         })
    //     }
    // }

    function cetaklist(){
        list_data = [];
        $(".ceklis:checked").each(function () {
            list_data.push($(this).val());
        });
        list = list_data.filter((x, i, a) => a.indexOf(x) == i);
        var url_safe_list = encodeURIComponent(JSON.stringify(list));
        var w=window.open('{{ base_url }}cetak_kas?no='+url_safe_list);
        w.onload = function () {
                w.print();
                // 
        }
        setTimeout(function() {
                w.close();
        }, 500);
    }

    function printDiv(divName){
        var printContents = document.getElementById(divName).outerHTML;
        var w=window.open();
        $(w).ready(function()
            {
            w.document.write('<html><head><title>my div</title>');
            w.document.write('</head><body style="font-size:95%; font-family: tahoma;">');
            w.document.write(printContents);
            setTimeout(function() {
                w.print();
                w.close();
            }, 500);
        });

    }

</script>

{% endblock %}