{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style type="text/css">
    textarea {
       resize: none;
    }
    .modal .modal-body {
        overflow-y: auto;
        overflow-x: auto;
    }
</style>
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none;">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h1 class="page-header">Terima Kiriman</h1> -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Form Terima Kiriman
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" method="post" id="myForm">
                                <div class="form-group">
                                    <label class="control-label">No Kiriman</label>
                                    <input class="form-control" name="NoKiriman" id="NoKiriman" value="{{kode}}" readonly="" style="background-color: #eee">
                                    <!-- <p class="help-block">notifikasi disini...</p> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tanggal Terima</label>
                                    <input class="form-control" name="tglTerima" id="tglTerima" value="{{tgl}}" readonly="" style="background-color: #eee">
                                    <!-- <p class="help-block">notifikasi disini...</p> -->
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Detail Order</label>
                                    <div class="table-responsive">
                                        <table class="table" id="table-barang">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <!-- <th>Edit</th> -->
                                                    <th>No Faktur</th>
                                                    <th>Tgl</th>
                                                    <th>Pelanggan</th>
                                                    <th>Status</th>
                                                    <th>Alasan Kembali</th>
                                                    <th>Terima Parsial</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set x = 0 %}
                                                {% for data in data %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td><input class="form-control" type="text" name="NoDO[{{loop.index0}}]" value="{{data.NoDO}}" id="NoDO{{loop.index0}}" readonly="" style="background-color: #eee; width: 150px"></td>
                                                    <td><input class="form-control" type="text" name="TglDO[{{loop.index0}}]" value="{{data.TglDO}}" id="NoDO{{loop.index0}}" readonly="" style="background-color: #eee; width: 150px"></td>
                                                    <td><input class="form-control" type="text" name="Pelanggan[{{loop.index0}}]" value="{{data.Pelanggan}}" id="Pelanggan{{loop.index0}}" readonly="" style="background-color: #eee; width: 220px"></td>
                                                    <td>
                                                        <select class="form-control" name="Status[{{loop.index0}}]" id="Status{{loop.index0}}" style="width: 150px" onchange="alasan({{loop.index0}})">
                                                            <option value="">Pilih Status</option>  
                                                            <option value="Terkirim">Terkirim</option>    
                                                            <option value="Kembali">Kembali</option>    
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" name="Alasan[{{loop.index0}}]" id="Alasan{{loop.index0}}" style="width: 100%; min-width: 300px" readonly="">
                                                    </td>
                                                    <td><button type="button" class="btn-sm btn-info" onclick="terima({{kode}},{{data.NoDO}},{{loop.index}})">Terima</button></td>
                                                </tr>
                                                {% set x = loop.index0 %}
                                                {% endfor %}
                                                <input type="hidden" name="bucket" id="bucket2" value="{{x}}">
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <button type="button" id="btnSave" onclick="save()" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-danger">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

<!-- Bootstrap modal -->
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <form role="form" method="post" id="myForm2">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Form Edit DO</h3>
            </div>
            <div class="modal-body form">
                <div class="form-group-sm">
                    <div class="table-responsive">
                        <input type="text" name="noDO" id="noDO" class="form-control" readonly="">
                        <input type="hidden" name="noSO" id="noSO" class="form-control" readonly="">
                        <input type="hidden" name="tgl" id="tgl" class="form-control" readonly="">
                        <input type="hidden" name="pelanggan" id="pelanggan" class="form-control" readonly="">
                        <input type="hidden" name="pengirim" id="pengirim" class="form-control" readonly="">
                        <input type="hidden" name="salesman" id="salesman" class="form-control" readonly="">
                        <input type="hidden" name="acu" id="acu" class="form-control" readonly="">
                        <input type="hidden" name="carabayar" id="carabayar" class="form-control" readonly="">
                        <input type="hidden" name="cashdiskon" id="cashdiskon" class="form-control" readonly="">                        
                        <input type="hidden" name="grosir" id="grosir" class="form-control" readonly="">
                        <input type="hidden" name="potongan" id="potongan" class="form-control" readonly="">
                        <input type="hidden" name="value" id="value" class="form-control" readonly="">
                        <input type="hidden" name="cashdiskontotal" id="cashdiskontotal" class="form-control" readonly="">
                        <input type="hidden" name="ppn" id="ppn" class="form-control" readonly="">
                        <input type="hidden" name="materai" id="materai" class="form-control" readonly="">
                        <input type="hidden" name="ongkir" id="ongkir" class="form-control" readonly="">
                        <input type="hidden" name="total" id="total" class="form-control" readonly="">
                        <table class="table" id="table-produk">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Produk</th>
                                    <th>Jumlah</th>
                                    <th>Batch</th>
                                    <th>Stok</th>
                                    <th>Exp Date</th>                                    
                                    <th>UOM</th>
                                    <th>Harga</th>
                                    <th>Dsc Cab</th>
                                    <th>Dsc Prins 1</th>
                                    <th>Dsc Prins 2</th>
                                    <th>Bns Cab</th>
                                    <th>Bns Prins</th>
                                    <th>Total Value</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer form">
                <input type="hidden" name="bucket" id="bucket">
                <button type="button" id="btnSave" onclick="saveData()" class="btn btn-primary">Save</button>
                <a href="javascript:void(0)" type="submit" class="btn btn-success" onclick="addRow(this.form);">Tambah Barang</a>                                        
                <button type="button" class="btn btn-default" onclick="resetForm(event)">Reset Form</button>
                <a href="javascript:void(0)" type="submit" class="btn btn-danger" id="removeRow" onclick="removeRow();">Hapus Baris</a>
            </div>
        </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- End Bootstrap modal -->

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).on('keydown', '.newRow', function(e) { 
  var keyCode = e.keyCode || e.which; 

  if (keyCode == 9 && e.shiftKey == false) { 
    addRow();
    // call custom function here
  } 
});

$(document).on('keydown', '.delRow', function(e) { 
  var keyCode = e.keyCode || e.which; 

  if (e.shiftKey && keyCode === 9) { 
    removeRow();
    // call custom function here
  } 
});

$(document).ready(function() {
        $('#myForm')[0].reset(); // reset form on modals
        $('.selectpicker').selectpicker('val', '');
    });

    function alasan(e) {
        var status = document.getElementById('Status'+e).value;
        if (status == "Kembali") {
            $("#Alasan"+e).attr("readonly", false);
        }
        else
        {
            $("#Alasan"+e).attr("readonly", true);
        }

    }
    
    function save()
    {
        $('#progressGIF').show();
        var url = "{{ base_url }}saveTerimaKiriman"; 
        var bucket = document.getElementById('bucket2').value
        var kondisi = true;

        for (var i = 0; i <= bucket; i++) {
            var no = document.getElementById('NoDO'+i).value;
            var status = document.getElementById('Status'+i).value;
            var alasan = document.getElementById('Alasan'+i).value;

            if (status == "")
            {
                notif('warning', 'PERHATIAN! Mohon pilih status untuk No DO : '+no);
                kondisi = false;
            }

            if (status == "Kembali" && alasan == "")
            {
                notif('warning', 'PERHATIAN! Mohon isi alasan untuk No DO : '+no);
                kondisi = false;
            }
        }

        // ajax adding data to database
        if (kondisi==true) 
        {
            $.ajax({
                url : url,
                type: "POST",
                data: $('#myForm').serialize(),
                dataType: "JSON",
                success: function(data)
                {
                    if (data.pesan == 'sukses') {
                        if(data.status==false){
                            notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                        }else{
                            notif('success', 'SUKSES! Data berhasil diupdate');
                        }  
                    }
                    else{
                        notif('warning', 'tidak bisa melakukan generate DO, proses sedang dilakukan oleh user : ' + data.user);
                    }
                    window.location = "{{ base_url }}terimakiriman"; 
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                    $('#progressGIF').hide();
                    window.location = "{{ base_url }}terimakiriman"; 
                }
            });
        }
        else{
            $('#progressGIF').hide();
        }
    }

    function terima(NoKiriman,NoDO,i)
    {
        // $('#progressGIF').show();
        i = i-1;
        var status = document.getElementById('Status'+i).value;
        var alasan = document.getElementById('Alasan'+i).value;
        var kondisi = true;
        if (status == "")
        {
            notif('warning', 'PERHATIAN! Mohon pilih status untuk No DO : '+NoDO);
            kondisi = false;
        }

        if (status == "Kembali" && alasan == "")
        {
            notif('warning', 'PERHATIAN! Mohon isi alasan untuk No DO : '+NoDO);
            kondisi = false;
        }
        if (kondisi==true) 
        {   
            var url = "{{ base_url }}prosesValidasiDO"; 
            // ajax adding data to database
            $('#progressGIF').show();
            $.ajax({
                url : url,
                type: "POST",
                data:{NoKiriman:NoKiriman,
                      NoDO:NoDO,
                      status:status,
                      alasan:alasan},
                dataType: "JSON",
                success: function(data)
                {
                    if (data.status == false) {
                        // notif('danger', 'PERHATIAN! Data Pelanggan & Salesman Harus Sesuai Dengan List.', 'saveResult');
                        notif('warning', 'PERHATIAN! Proses Validasi DO Menjadi Faktur Gagal');
                    }
                    else{
                        notif('success', 'SUKSES! Proses Validasi DO Menjadi Faktur Berhasil');
                        reloadTable();
                    }
                    $('#progressGIF').hide();
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat');
                    reloadTable();
                    $('#progressGIF').hide();
                }
            });

        }
        
    }
    var rowNum = 0;
    var produkSource = [];

    function saveData()
    {
        hitung();
        var status = true;
        var status_qty = true;
        var status_batch = true;
        var s = document.getElementById('bucket').value;
        var batch2 = "";
        var kode2 = "";
        var totjmlmax =0;
        var totqty =0;
        var x = 0;
        var arr = [];
        var arr_batch =[];
        for (var i = 0; i <= s; i++) {
            x++;
            var produk = document.getElementById('produk'+i).value;
            var qty = document.getElementById('jumlah'+i).value;
            var qty2 = document.getElementById('jumlahmask'+i).value;
            var bns = document.getElementById('bnscab'+i).value;
            var batch = document.getElementById('batch'+i).value;
            var stok = document.getElementById('stok'+i).value;
            var stok2 = parseInt(stok) + parseInt(qty2) + parseInt(bns);
            var xpld = produk.split("~");
            var banyak = parseInt(qty2) + parseInt(bns);
            var qtybns = parseInt(qty) + parseInt(bns);
            var kode = xpld[0];
            if (parseInt(qty)+parseInt(bns) < 0 || (qty == "" && bns =="")) {
                notif("warning","PERHATIAN! Qty/Jumlah harus diisi minimal 0.")
                status = false;
            }
            if ((parseInt(qty)+parseInt(bns)) > parseInt(stok2)) {
                notif("warning","PERHATIAN! Qty/Jumlah Produk  tidak boleh lebih besar dari stok.")
                status = false;
            }
            // if(parseInt(stok) <= 0 && (parseInt(qty)+parseInt(bns)) > 0) {
            //     notif("warning","PERHATIAN! Ada Produk yg Stok Kosong Sedangkan Qty Lebih dari 0.")
            //     status = false;
            // }
            
            //===== cek max qty =============== //
            var index = arr.findIndex(x => x.produk==kode);
            if (index === -1){
                arr.push({
                    produk : kode,
                    nama : produk,
                    qty : qtybns,
                    max : banyak
                });
            }
            else {
                arr[index]["qty"] = arr[index]["qty"] + qtybns;
                arr[index]["max"] = arr[index]["max"] + banyak;
                // addOrReplace(arr, {produk: kode, max: totjmlmax});
            }
            //=======================================================
            //===== cek batch ========================
            var xx = arr_batch.findIndex(x => x.produk==kode);
            if (xx === -1){
                arr_batch.push({
                    produk : kode,
                    batch : batch
                });
            }
            else {
               var jj = arr_batch.findIndex(x => x.batch==batch);
               if(jj === -1){
                    arr_batch.push({
                        produk : kode,
                        batch : batch
                    });
               }else{
                    notif("warning","PERHATIAN! Ada Pemilihan Batch yg sama di produk yg sama.");
                    status = false;
               }
                // addOrReplace(arr, {produk: kode, max: totjmlmax});
            }
                   
        }   

        for (x = 0; x < arr.length; x++) { 
            var arr_prd = arr[x]["nama"];
            var arr_qty = arr[x]["qty"];
            var arr_banyak = arr[x]["max"];
            if(arr_qty != arr_banyak){
                notif("warning","PERHATIAN! Produk " + produk + "  Total Qty : " + arr_qty + " tidak sama dengan Qty DO asal :" + arr_banyak);
                status = false;
            }
        } 

        if (status == true) {
            $('#progressGIF').show();
            $('#modal_form').modal('hide');
            $.ajax({
                url : "{{ base_url }}updateDataDO",
                type: "POST",
                data: $('#myForm2').serialize(),
                dataType: "JSON",
                success: function(data)
                {    
                    if (data.status ==true) {
                        notif('success','Data berhasil Di simpan');
                        $('#progressGIF').hide();
                    }
                    else{
                        notif('warning','PERHATIAN! Stok produk tidak cukup.');
                        $('#progressGIF').hide();
                    }
                    $('#progressGIF').hide();
                    $('#modal_form').modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                   notif('warning', 'PERHATIAN! Tidak dapat terhubung dengan server pusat. Data hanya tersimpan di server cabang.');
                   $('#progressGIF').hide();                   
                    $('#modal_form').modal('show');
                }
            });
        }
    }

    // function addOrReplace(array, item) { // (1)
    //     const i = array.findIndex(_item => _item.produk === item.produk);
    //     if (i > -1) array[i] = item; // (2)
    //     else array.push(item);
    // }

    var batchSource = [];
    var batchSource2 = [];
    function getBatch(e, KodeProduk) {
        batchSource.length = 0;
        batchSource2.length = 0;
        $.ajax({
            url : "{{ base_url }}listBatch",
            type: "POST",
            data:{kode:KodeProduk},
            dataType: "JSON",
            success: function(data)
            {
                for (var i in data) {
                    batchSource[i] = data[i].BatchNo+" | "+data[i].UnitStok+" | "+data[i].ExpDate;
                    batchSource2[i] = data[i].BatchNo;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Gagal tarik data Batch');
            }
        }); 
        $('#batch'+e).typeahead({
            source: batchSource
        });
    }

    function getprodBatch(e) {
        var batchSource1=[];
        // batchSource.length = 0;
        // batchSource2.length = 0;
        var Value = document.getElementById('produk'+e).value;
        var split = Value.split("~");
        var Kode = split[0];
        $.ajax({
            url : "{{ base_url }}listBatch",
            type: "POST",
            data:{kode:Kode},
            dataType: "JSON",
            success: function(data)
            {
               
                for (var i in data) {
                    batchSource1[i] = data[i].BatchNo+" | "+data[i].UnitStok+" | "+data[i].ExpDate;
                    // batchSource2[i] = data[i].BatchNo;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Gagal tarik data Batch');
            }
        }); 
        $('#batch'+e).typeahead({
            source: batchSource1
        });
    }

    function setBatch(e) {
        var s = document.getElementById('batch'+e).value;
        var split = s.split(" | ");
        if (split[1]) {           
            $('#batch'+e).val(split[0]);
            $('#stok'+e).val(split[1]);
            $('#expdate'+e).val(split[2]);
            // $('#expdate'+e).attr('value',split[2]);
            // $('#expdate'+e).datepicker('setDate', split[2]);
        }
    }
</script>
{% endblock %}
