{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>
    <link href= "{{ base_url }}assets/kendo/styles/kendo.common.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.material.min.css" rel="stylesheet">
<style>
    #keterangan {

        width:700px;
    }

    .demo-section {
        width:100%;
    }
    .fieldlist_garis_bawah 
    {
        margin: 0;
        padding:0;

    }

    .fieldlist_garis_bawah li
    {
        list-style:none;
        padding:0;
    }

    .fieldlist_garis_bawah label {
        display: inline-block;
        width: 150px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    #fieldlist
    {
        margin:0;
        padding:0;
    }

    #fieldlist li
    {
        list-style:none;
        padding:0;
    }

    #fieldlist label {
        display: inline-block;
        width: 150px;
        font-size: 11px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 10px
    }
    .form-group{
        margin:1.5px;
    }

    .k-textbox{
        font-size: 11px; 
    }
    .datepicker{
        font-size: 11px; 
    }

    .k-grid td {
        font-size: 11px;
        padding: 3px;
        line-height: 1.5em;
    }
    .k-grid {
        font-size: 12px;
    }
            
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important; white-space: normal !important; 
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 8px
    }

    .k-grid-header .wrap-header {
        height:  5px;
        overflow: visible;
        white-space: normal;
    }

    .k-list-container{
        min-width:400px !important;
        width: auto!important;
    }
    .k-list
    {
         width:auto !important;
    }
    .highlighted-row {
        background-color: #eeffee;
    }
    .highlighted-row.k-alt {
        background-color: #ccffcc;
    }
    table > tbody > tr:hover,

        .table > table > tbody > tr:hover

    {
        background-color: #fce7dd;

    }

    tbody tr:nth-child(odd) {
        background-color: #fff;

    }
    .page-template {
          font-family: "DejaVu Sans", "Arial", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size:10px;
        }
        .page-template .header {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          border-bottom: 1px solid #888;
          color: #888;
        }
        .page-template .footer {
          position: absolute;
          bottom: 30px;
          left: 30px;
          right: 30px;
          border-top: 1px solid #888;
          text-align: center;
          color: #888;
        }
        .page-template .watermark {
          font-weight: bold;
          font-size: 400%;
          text-align: center;
          margin-top: 30%;
          color: #aaaaaa;
          opacity: 0.1;
          transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style> 
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading" style="min-height: 35px">
            <div style="width:50%;float:left;">
                <b>Kartu Piutang Pelanggan</b>
            </div>

        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
            <form role="form" id="myForm">
            <div class="table-responsive"> 
                <table>
                    <tr>
                        <td>Cabang</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px">
                            <input type="hidden" name="counter" value="{{counter}}">
                            {% for cabang in cabang %}
                                {% if cabang.Cabang == logs.cabang %} 
                                    <input class="form-control" type="text" name="Cabang" id="Cabang" readonly value="{{ cabang.Cabang }}-{{ cabang.Kode }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="padding-left:10px">Pelanggan</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px">
                            <input class="form-control" type="text" name="pelanggan" id="pelanggan" onkeyup="cariKode()" style="width:300px">
                        </td> 

                        <td style="padding-left:10px">Nomor DO </td>
                        <td style="padding-left:10px">:</td>  
                        <td style="padding-left:10px"><input class ="form-control" type="text" name="nofaktur" id ="nofaktur" onkeyup="cariKodeFaktur()" autocomplete="off" style="width:300px"></td>   
                        <td style="padding-left:30px"> <a v-bind:href="javascript:" onclick="f_get_data();return false;" title="Proses" class="btn btn-primary" > <i class="fa fa-search-plus"><span style="padding-left:10px;padding-right:20px">Proses</span></i></a> </td>
                         <td style="padding-left:5px"> <a v-bind:href="javascript:" onclick="f_pdf();return false;" title="Print to pdf" class="btn btn-primary" ><i class="fa fa-file-pdf-o"><span style="padding-left:10px;padding-right:20px">Print to PDF</span></i></a> </td>
                         <!-- <td style="padding-left:5px"> <a v-bind:href="javascript:" onclick="f_excel();return false;" title="Excell" class="btn btn-primary" > <i class="fa fa-file-excel-o"><span style="padding-left:10px;padding-right:20px">Excell</span></i></a> </td> -->
                    </tr>
                </table>
            </div>
            </div>
            </form>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>
<div id="msgBox"></div>
<div id = 'cetak_list'>
   <div id="grid"  class="k-grid"  data-csrf="{!! csrf_token()!!}"></div>
   
</div>
{% endblock %}

{% block js %}
    <!-- <script src="{{ base_url }}assets/js/bootstrap.min.js"></script> -->
    <script src="{{ base_url }}assets/kendo/js/jquery.min.js"> </script>
    <script src="{{ base_url }}assets/kendo/js/kendo.all.min.js"> </script> 
    <script src="{{ base_url }}assets/kendo/js/pako_deflate.min.js"> </script> 
    <script src="{{ base_url }}assets/js/jQuery.print.js"> </script>
    <script src="{{ base_url }}assets/js/jquery.table2excel.min.js"></script>
    <script src="{{ base_url }}assets/js/metisMenu.min.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ base_url }}assets/kendo/js/jszip.min.js"></script>
<script>

    var tabel;
    var pelangganSource = [];
    var fakturSource = [];
    $(document).ready(function() {
        // var validator = $(".datepicker").kendoValidator({
        // rules: {
        //     dateValidation: function (e) {
        //         dateUniversal = $(e).val();
        //         var currentDate =  kendo.parseDate(dateUniversal, "dd/MM/yyyy");
        //                         if (!currentDate) {
        //                             return false;
        //                         }
        //                         return true;
                            
        //             }
        //         },messages: {
        //             dateValidation: "wrong format"
        //         }
        //     }).data("kendoValidator");
        // $("#grid").kendoGrid({});
        // var today1 = new Date();
        // $("#tgldoc").kendoDatePicker({format: "dd/MM/yyyy"});
        // $("#tgldoc").data("kendoDatePicker").value(today1);
        $.ajax({
            url : "{{ base_url }}listpelangganAll",
            type: "GET",
            dataType: "JSON",
            success: function(data)
            {
                for (var i in data) {
                    pelangganSource[i] = data[i].Kode + "~" + data[i].Pelanggan;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Gagal tarik data Pelannagn');
            }
        });  

        
    });
    function cariKode(){    
        $('#pelanggan').typeahead({
                source: pelangganSource
            });
    }

    function cariKodeFaktur(){  
        var xpld = document.getElementById("pelanggan").value;
        var pelanggan = xpld.split("~");
        pelanggan = pelanggan[0];
        var xpld1 = document.getElementById("Cabang").value;
        var cabang = xpld1.split("-");
        cabang = cabang[0];
        $.ajax({
            url : "{{ base_url }}listfakturAll",
            type: "POST",
            dataType: "JSON",
            data:{cabang:cabang,pelanggan:pelanggan},
            success: function(data)
            {
                for (var i in data) {
                    fakturSource[i] = data[i].NoDO + "~" + data[i].TglDO + "~" + data[i].Status;
                }

            },
            error: function (jqXHR, textStatus, errorThrown)
            {
                notif('warning', 'PERHATIAN! Gagal tarik data Faktur');
            }
        });   
  
        $('#nofaktur').typeahead({
                source: fakturSource
            });
    }

    function f_get_data(){
        // $("#grid").data("kendoGrid").destroy();
        $("#grid").empty();
        var nilai_saldo_awal = 0;
        var xpld = document.getElementById("pelanggan").value;
        var pelanggan = xpld.split("~");
        pelanggan = pelanggan[0];
        var xpld1 = document.getElementById("Cabang").value;
        var cabang = xpld1.split("-");
        cabang = cabang[0];
        var xpld2 = document.getElementById("nofaktur").value;
        var faktur = xpld2.split("~");
        faktur = faktur[0];
        var saldo_akhir = 0;

        if(pelanggan == '' || pelanggan == null)
        {
            notif("error","Pilih Pelanggan terlebih dahulu ");
            return;
        }

        if(faktur == '' || faktur == null)
        {
            notif("error","Pilih Nomor DO terlebih dahulu ");
            return;
        }
        
        var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: 'Post',
                        url: "{{ base_url }}getkartupiutang",   
                        dataType: 'json',
                        data:{cabang:cabang,pelanggan:pelanggan,faktur:faktur},
                    }
                },
                error: function(e) {
                    alert(e);
                },
                schema: {
                    data: function(data){
                        return data;
                    },
                    model: {
                            fields: {
                                rownumber       : { editable: false, nullable: true },
                                Cabang          : { type:"string",editable:false},
                                NoDOkumen       : {type:"string", editable:false},
                                TglDokumen      : {type:"string", editable:false},
                                TipeDokumen     : {type:"string", editable:false},
                                Pelanggan       : {type:"string", editable:false},
                                Salesman        : {type:"string", editable:false},
                                Total           : {type:"number", editable:false},
                                Status          : {type:"string", editable:false},
                            }
                    },
                    // aggregate: [{ field: "qty_in", aggregate: "sum" ,  format: '{0:n2}'},
                    //         { field: "qty_out", aggregate: "sum" ,  format: '{0:n2}'}], 
                },
                // pageSize: 10,
                // serverPaging: true,
                // serverFiltering: true,
                // serverSorting: true
        });

            $("#grid").kendoGrid({
                dataSource: ds,
                sortable: true,
                height: 600,
                // height: $(window).height() - 100,
                sortable:false,
                resizable: true,
                scrollable: true,
                columnMenu:false,
                selectable: "single",
                columns: [
                    {
                        title: "KARTU PIUTANG PELANGGAN",
                        headerAttributes: {style: "text-align: center"},
                        columns:[
                            { field: "Cabang",
                                title: "Cabang",
                                width: 30,
                                editable : true,
                                headerAttributes: {style: "text-align: center"},
                                nullable : true,                
                            },
                            
                            { field: "NoDOkumen" ,
                                title: "Document Number",
                                width: 75,
                                attributes: { style:"text-align:left;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                            { field: "TglDokumen" ,
                                title: "Tanggal",
                                width: 75,
                                attributes: { style:"text-align:left;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                            { field: "TipeDokumen" ,
                                title: "Tipe Dokumen",
                                width: 75,
                                attributes: { style:"text-align:left;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                            { field: "Pelanggan" ,
                                title: "Pelanggan",
                                width: 150,
                                attributes: { style:"text-align:left;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                            { field: "Salesman" ,
                                title: "Salesman",
                                width: 100,
                                attributes: { style:"text-align:left;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                            { field: "Total" ,
                                title: "Value Dokumen",
                                width: 75,
                                type: "number",
                                nullable: false,
                                format: '{0:n0}',
                                attributes:{style:"text-align:right;"},
                                headerAttributes: {
                                    style: "text-align: center"
                                },
                            },
                            { field: "Status" ,
                                title: "Status",
                                width: 75,
                                attributes: { style:"text-align:center;" },
                                headerAttributes: {style: "text-align: center"},
                            },
                           
                        ]
                    },                       
                                          
                ],
                dataBound: function (e) {
                    
                 },
                  dataBinding: function(){
                   
                    }
                // },        
            }); //end kendo grid
            $("#grid").data("kendoGrid").setDataSource(ds);
        }//end f_getdata_detail

        function f_pdf()
        {
            $('#cetak_list').print();
        }

        function f_tanggal(tglx)
        {
           
            month_value = tglx.getMonth()+1;
            day_value = tglx.getDate();
            year_value = tglx.getFullYear();
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            docdate = year_value +'-'+ month_value + '-' + day_value  ;
            // doctime = hour_value + ':' + min_value;
            return docdate;
        }

        function f_time(tglx)
        {
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            doctime = hour_value + ':' + min_value;
            return doctime;
        }

        function f_excel()
        {
            $('#cetak_list').table2excel({
                exclude:".noExl",
                name:"kartu stok report",
                filename: "kartu stok report"
            });
        }
      
</script>
    {% endblock %}