{% extends "layout.html" %} {% block content %} {% include "navigation.html" %}
<style>html { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }</style>

    <link href= "{{ base_url }}assets/kendo/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.common-material.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.default.min.css" rel="stylesheet">
    <link href= "{{ base_url }}assets/kendo/styles/kendo.material.min.css" rel="stylesheet">

<style>
    #keterangan {

        width:700px;
    }

    .demo-section {
        width:100%;
    }
    .fieldlist_garis_bawah 
    {
        margin: 0;
        padding:0;

    }

    .fieldlist_garis_bawah li
    {
        list-style:none;
        padding:0;
    }

    .fieldlist_garis_bawah label {
        display: inline-block;
        width: 150px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    #fieldlist
    {
        margin:0;
        padding:0;
    }

    #fieldlist li
    {
        list-style:none;
        padding:0;
    }

    #fieldlist label {
        display: inline-block;
        width: 150px;
        font-size: 11px;
        margin-right: 5px;
        text-align: left;
        border-bottom: 1px solid #DAD9DE;
    }
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 10px
    }
    .form-group{
        margin:1.5px;
    }

    .k-textbox{
        font-size: 11px; 
    }
    .datepicker{
        font-size: 11px; 
    }

    .k-grid td {
        font-size: 11px;
        padding: 3px;
        line-height: 1.5em;
    }
    .k-grid {
        font-size: 12px;
    }
            
    .k-virtual-scrollable-wrap td {
        font-size: 11px;        
        white-space:nowrap;
        line-height: 11px;
    }

    .k-grid .k-grid-header .k-header .k-link {
        overflow: visible !important; white-space: normal !important; 
    }

    #grid .k-virtual-scrollable-wrap tr td{
        height: 8px
    }

    .k-grid-header .wrap-header {
        height:  5px;
        overflow: visible;
        white-space: normal;
    }

    .k-list-container{
        min-width:400px !important;
        width: auto!important;
    }
    .k-list
    {
         width:auto !important;
    }
    .highlighted-row {
        background-color: #eeffee;
    }
    .highlighted-row.k-alt {
        background-color: #ccffcc;
    }
    table > tbody > tr:hover,

        .table > table > tbody > tr:hover

    {
        background-color: #fce7dd;

    }

    tbody tr:nth-child(odd) {
        background-color: #fff;

    }
    .page-template {
          font-family: "DejaVu Sans", "Arial", sans-serif;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size:10px;
        }
        .page-template .header {
          position: absolute;
          top: 30px;
          left: 30px;
          right: 30px;
          border-bottom: 1px solid #888;
          color: #888;
        }
        .page-template .footer {
          position: absolute;
          bottom: 30px;
          left: 30px;
          right: 30px;
          border-top: 1px solid #888;
          text-align: center;
          color: #888;
        }
        .page-template .watermark {
          font-weight: bold;
          font-size: 400%;
          text-align: center;
          margin-top: 30%;
          color: #aaaaaa;
          opacity: 0.1;
          transform: rotate(-35deg) scale(1.7, 1.5);
        }
</style> 
<div id="progressGIF" style="position: fixed; top:0px; left:0px; bottom:0px; right:0px; background-color: rgba(0, 0, 0, 0.10); z-index: 1000; display: none">
    <center>
    <img src="{{base_url}}assets/img/progress.gif" width="150px" style="padding-top: 15%; position: relative;">
    <p style="position: relative; font-size: 18px;">DATA SEDANG DI PROSES</p>
    </center>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        <div class="panel-heading" style="min-height: 35px">
            <div style="width:50%;float:left;">
                <b>LAPORAN EC DO FAKTUR</b>
            </div>

        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
            <div class="form-group">
            <form role="form" id="myForm">
            <div class="table-responsive"> 
                <table>
                    <tr>
                        <td>Cabang</td>
                        <td style="padding-left:10px">:</td>
                        <td style="padding-left:10px">
                            <input type="hidden" name="counter" value="{{counter}}">
                            {% for cabang in cabang %}
                                {% if cabang.Cabang == logs.cabang %} 
                                    <input class="form-control" type="text" name="Cabang" id="Cabang" readonly value="{{ cabang.Cabang }}-{{ cabang.Kode }}">
                                    <input class="form-control" type="hidden" name="serv_date" id="serv_date" readonly value="{{ cabang.server_date }}">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="padding-left:30px">Tanggal Mulai</td>
                        <td style="padding-left:10px">:</td>  
                        <td style="padding-left:10px"><input class ="datepicker" type="text" name="tgldoc" id ="tgldoc"></td>
                        <td style="padding-left:10px">Tanggal Akhir</td>
                        <td style="padding-left:10px">:</td>  
                        <td style="padding-left:10px"><input class ="datepicker" type="text" name="tgldoc" id ="tgldoc1"></td>
                        <td style="padding-left:30px"> <a v-bind:href="javascript:" onclick="f_get_data();return false;" title="Proses" class="btn btn-success" > <i class="fa fa-search-plus"><span style="padding-left:10px;padding-right:20px">Proses</span></i></a> </td>
                         <td style="padding-left:5px"> <a v-bind:href="javascript:" onclick="f_pdf();return false;" title="Print to pdf" class="btn btn-warning" ><i class="fa fa-file-pdf-o"><span style="padding-left:10px;padding-right:20px">Print to PDF</span></i></a> </td>
                         <td style="padding-left:5px"> <a v-bind:href="javascript:" onclick="f_excel();return false;" title="Excell" class="btn btn-info" > <i class="fa fa-file-excel-o"><span style="padding-left:10px;padding-right:20px">Excell</span></i></a> </td>
                    </tr>
                </table>
            </div>
            </div>
            </form>
            </div>
        </div>
        </div>

        </div>
    </div>
</div>
<div id="msgBox"></div>
<div id = 'cetak_list'>
   <div id="grid"  class="k-grid"  data-csrf="{!! csrf_token()!!}"></div>
   <!-- <br>
   <hr width="100%" size="10">
   <div><center><strong>DATA GUDANG</strong></center></div>
   <br>
   <div id="grid_summary"> -->
</div>
{% endblock %}

{% block js %}
    <!-- <script src="{{ base_url }}assets/js/bootstrap.min.js"></script> -->
    <!-- <script src="{{ base_url }}assets/kendo/js/jquery.min.js"> </script> -->
    <script src="{{ base_url }}assets/kendo/js/kendo.all.min.js"> </script> 
    <script src="{{ base_url }}assets/kendo/js/pako_deflate.min.js"> </script> 
    <script src="{{ base_url }}assets/js/jQuery.print.js"> </script>
    <script src="{{ base_url }}assets/js/jquery.table2excel.min.js"></script>
    <script src="{{ base_url }}assets/js/metisMenu.min.js"></script>
    <script src="{{ base_url }}assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ base_url }}assets/kendo/js/jszip.min.js"></script>
<script>

    var tabel;
    var produkSource = [];
    $(document).ready(function() {
        var validator = $(".datepicker").kendoValidator({
        rules: {
            dateValidation: function (e) {
                dateUniversal = $(e).val();
                var currentDate =  kendo.parseDate(dateUniversal, "dd/MM/yyyy");
                                if (!currentDate) {
                                    return false;
                                }
                                return true;
                            
                    }
                },messages: {
                    dateValidation: "wrong format"
                }
            }).data("kendoValidator");
        $("#grid").kendoGrid({});
        var today1 = new Date();
        $("#tgldoc").kendoDatePicker({format: "dd/MM/yyyy"});
        $("#tgldoc").data("kendoDatePicker").value(today1);
        $("#tgldoc1").kendoDatePicker({format: "dd/MM/yyyy"});
        $("#tgldoc1").data("kendoDatePicker").value(today1);
       

    });
    function cariKode(){    
        $('#produk').typeahead({
                source: produkSource
            });
    }

    function f_get_data(){
        $("#grid").data("kendoGrid").destroy();
        $("#grid").empty();
        var nilai_saldo_awal = 0;
        var tgldoc  = f_tanggal($("#tgldoc").data("kendoDatePicker").value());
        var tgldoc1 = f_tanggal($("#tgldoc1").data("kendoDatePicker").value());
        var cabang  = document.getElementById("Cabang").value;
        var expld   = cabang.split("-");
        cabang = expld[0]; 
        var ds = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: 'Post',
                        url: "{{ base_url }}getEC",   
                        dataType: 'json',
                        data:{tgldoc:tgldoc,tgldoc1:tgldoc1,cabang:cabang},
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                   console.log(jqXHR);
                },
                schema: {
                    data: function(data){
                        console.log(data);
                        return data;
                    },
                    model: {
                            fields: {
                                rownumber       : { editable: false, nullable: true },
                                list_date       : {type:"string", editable:false},
                                salesman        : {type:"string", editable:false},
                                TglDO           : {type:"string", editable:false},
                                JumDok          : {type:"number", editable:false},
                                JumDO           : {type:"number", editable:false},
                                JumRet          : {type:"number", editable:false},
                                OTDO            : {type:"number", editable:false},
                                ECDO            : {type:"number", editable:false},
                                ValDok          : {type:"number", editable:false},
                                ValDO           : {type:"number", editable:false},
                                ValRet          : {type:"number", editable:false},
                                TglFaktur       : {type:"string", editable:false},
                                jumDOkFaktur    : {type:"number", editable:false},
                                jumFaktur       : {type:"number", editable:false},
                                JumRetFaktur    : {type:"number", editable:false},
                                OTFakFaktur     : {type:"number", editable:false},
                                ECFaktur        : {type:"number", editable:false},
                                ValDokFaktur    : {type:"number", editable:false},
                                ValFakFaktur    : {type:"number", editable:false},
                                ValRetFaktur    : {type:"number", editable:false},
                            }
                    },
                },
                aggregate: [
                            { field: "JumDok", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "JumDO", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "JumRet", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "OTDO", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ECDO", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValDok", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValDO", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValRet", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "jumDOkFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "jumFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "JumRetFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "OTFakFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ECFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValDokFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValFakFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                            { field: "ValRetFaktur", aggregate: "sum" ,  format: '{0:n2}'},
                    ],
        });

             $("#grid").kendoGrid({
                    dataSource : ds,
                    scrollable: true,
                    filterable: true,
                    sortable: true,
                    navigatable: true,
                    resizable: true,
                    width:"100%",
                    height: 700,
                    pageable:true,
                    selectable: "single",
                    save: function (e) {
                            e.sender.refresh();
                    }, // untuk menghitung ulang 
                    columns: [
                    {
                        title: "Lapora EC " + " CABANG : " + cabang.toUpperCase(),
                        headerAttributes: {style: "text-align: center"},
                        columns:[
                        {
                            field : "periode", 
                            title: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            headerTemplate: 'Dari Tanggal : ' + tgldoc + ' Sampai Tanggal ' + tgldoc1,
                            headerAttributes: {style: "text-align: left"},
                            columns:[
                                    // {
                                    //     field: "rowNumber",
                                    //     title: "No",
                                    //     width: 35,
                                    //     editable : false,
                                    //     headerAttributes: {
                                    //         style: "text-align: center"
                                    //     },
                                    //     nullable : true,
                                    //     template: "#= renderNumber(data) #" 
                                    // },
                                     {
                                        hidden:true,
                                        field: "list_date",
                                        title: "Tanggal",
                                        width: 50,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true, 
                                        
                                    },
                                    {
                                        field: "salesman",
                                        title: "Salesman",
                                        width: 100,
                                        editable : false,
                                        attributes:{style:"text-align:left;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        nullable : true,
                                        footerTemplate: "Total :"
                                    },
                                    {
                                        
                                        field: "TglDO",
                                        title: "Tgl Faktur",
                                        width: 75,
                                        editable : false,
                                        attributes:{style:"text-align:center;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        
                                    },

                                    {
                                        field: "JumDok",
                                        title: "Jumlah DOk",
                                        type: "number",
                                        width: 75,
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },

                                    {
                                        field: "JumDO",
                                        title: "Jumlah Faktur",
                                        type: "number",
                                        width: 75,
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },

                                    {
                                        // hidden:true,
                                        field: "JumRet",
                                        title: "Jumlah Retur Faktur",
                                        nullable: false,
                                        width: 75,
                                        type: "number",
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       
                                    },
                                    {
                                        field: "OTDO",
                                        title: "OT Faktur",
                                        type: "number",
                                        width: 75,
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },
                                    {
                                        
                                        field: "ECDO",
                                        title: "EC Faktur",
                                        type: "number",
                                        width: 75,
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },

                                    {
                                        field: "ValDok",
                                        title: "Value DOk",
                                        type: "number",
                                        width: 100,
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },

                                    {
                                        field: "ValDO",
                                        title: "Value Faktur",
                                        type: "number",
                                        width: 100,
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },

                                    {
                                        // hidden:true,
                                        field: "ValRet",
                                        title: "Value Retur Faktur",
                                        nullable: false,
                                        width: 100,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                        // editor: dropdownproduct
                                    },
                                    {
                                        field: "TglFaktur",
                                        title: "Tanggal Faktur Komersil",
                                        width: 75,
                                        editable : false,
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "jumDOkFaktur",
                                        title: "Jumlah Dok Faktur Komersil",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "jumFaktur",
                                        title: "Jumlah Faktur Komersil",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },
                                    {
                                        field: "JumRetFaktur",
                                        title: "Jumlah Retur",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "OTFakFaktur",
                                        title: "OT Faktur Komersil",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "ECFaktur",
                                        title: "EC Faktur Komersil",
                                        width: 75,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n0}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "ValDokFaktur",
                                        title: "Value DOk Faktur Komersil",
                                        width: 100,
                                        type: "number",
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                       // editor:dropdownunit

                                    },
                                    {
                                        field: "ValFakFaktur",
                                        title: "Value Faktur Komersil",
                                        type: "number",
                                        width: 100,
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",

                                    },
                                    {
                                        field: "ValRetFaktur",
                                        title: "Value Retur",
                                        type: "number",
                                        width: 100,
                                        nullable: false,
                                        format: '{0:n}',
                                        attributes:{style:"text-align:right;"},
                                        headerAttributes: {
                                            style: "text-align: center"
                                        },
                                        footerTemplate: "<div style='float: right'>#= kendo.toString(sum, 'n') #</div>",
                                    },
                                ]
                            },
                        ], 
                    },
                    ],
                           
                    dataBound: function (e) {
                        resetRowNumber();
                        
                    },
                    dataBinding: function(){
                        
                    }

                });
            $("#grid").data("kendoGrid").setDataSource(ds);

        }//end f_getdata_detail


        var rowNumber = 0;
        function resetRowNumber(e) {
            rowNumber = 0;
        }
         
        function renderNumber(data) {
            return ++rowNumber;
        }

        function f_pdf()
        {
            $('#cetak_list').print();
        }

         function f_tanggal(tglx)
        {
            var months = new Array(12);
                months[0] = "January";
                months[1] = "February";
                months[2] = "March";
                months[3] = "April";
                months[4] = "May";
                months[5] = "June";
                months[6] = "July";
                months[7] = "August";
                months[8] = "September";
                months[9] = "October";
                months[10] = "November";
                months[11] = "December";
            month_value = tglx.getMonth();
            day_value = tglx.getDate();
            year_value = tglx.getFullYear();
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            docdate = day_value + '-' + months[month_value] + '-' + year_value ;
            // doctime = hour_value + ':' + min_value;
            return docdate;
        }

        function f_time(tglx)
        {
            hour_value = tglx.getHours();
            min_value  = tglx.getMinutes();
            doctime = hour_value + ':' + min_value;
            return doctime;
        }

        function f_excel()
        {
            setTimeout(function(){
                $('#cetak_list').table2excel({
                    exclude:".noExl",
                    name:"Laporan Jumlah Faktur report",
                    filename: "Laporan Jumlah Faktur report"
                });
            },500);
        }
      
</script>
    {% endblock %}